<div class="login-register">
    <div class="login-register-box">
        <mat-card class="mat-card">
            <mat-card-content class="mat-card-content">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <img src="assets/images/logo-icon.png" alt="homepage">
                        <h4 class="m-t-0 mb-4">Iniciar sesión</h4>
                    </div>
                    <div class="text-center">
                        <h4 class="m-t-0 mb-2">Bienvenido a Bamboo!</h4>
                        <p class="text-left">Ingresá tus datos de acceso y vivamos la experiencia!</p>
                    </div>
                    <div class="form-auth">
                        <div class="form-input-100">
                            <mat-form-field appearance="fill">
                                <mat-label>Ingresá tu correo</mat-label>
                                <input matInput placeholder="algo@ejemplo.com"
                                       formControlName="email" 
                                       required>
                                <mat-error *ngIf="this.loginForm.controls['email']!.errors" class="fs-08">{{getEmailErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-input-100">
                            <mat-form-field appearance="fill">
                                <mat-label>Ingresá tu contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'"
                                       formControlName="password"
                                       required>
                                <button mat-icon-button matSuffix type="button" (click)="hidePassword($event)" >
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="this.loginForm.controls['password']!.errors" class="fs-08">{{getPasswordErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-input-50 pb-2">
                            <mat-checkbox formControlName="remember_me">Recordarme</mat-checkbox>
                        </div>
                        <div class="form-input-50 fs-09 forget-psw-align pb-2">
                            <a routerLink="../forget" class="link">Olvidé mi contraseña!</a>
                        </div>
                        <div class="form-input-100">
                            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || this.disable_submit">Entrar</button>
                        </div>
                        <div class="form-input-100 new-register-link">
                            <span> No tenés una cuenta?
                                <a routerLink="../register" class="text-success link fw-bolder">Registrate!</a>
                            </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-footer class="login-footer">
                <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>          
    </div>
</div>
