<!-- Edit product -->

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Títulos -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3 gap-4 gap-md-0">
        <div class="d-flex flex-column justify-content-center">
            <h4 class="mb-1">Edición de producto</h4>
            <p class="mb-0">Creá y editá tus productos aquí</p>
        </div>
        <div class="d-flex align-content-center align-items-center flex-wrap gap-2">
            <span class="material-symbols-outlined cursor-pointer warn-color" 
                    matTooltip="Para activar un producto, debe agregar un precio" matTooltipPosition="above"
                    *ngIf="!activeState">
                error
            </span>
            <button mat-stroked-button 
                    color="primary"
                    [color]="(!activeState)?'primary':'warn'" 
                    type="submit"
                    (click)="(!activeState)?changeState('activo'):changeState('inactivo')" 
                    [disabled]="(!activeState)?(loading || !product.id || product.sale_price == 0):loading">
                <ng-container *ngIf="!loading; else loadingSpinner">
                    <span>{{ (!activeState)?'Activar':'Desactivar' }}</span> Producto
                </ng-container>
                <ng-template #loadingSpinner>
                  <mat-spinner diameter="20"></mat-spinner>
                </ng-template>
            </button>
        </div>
    </div>
    <!-- Información -->
    <div class="row">
        <!-- Primera columna -->
        <div class="col-12 col-lg-8">
            <app-product-information [product]="product" (changeDetected)="handleChange($event)"></app-product-information>
            <app-product-image [product]="product" *ngIf="product.id > 0" (changeDetected)="handleChange($event)"></app-product-image>
            <app-product-provider-data [product]="product" *ngIf="(product.id > 0) && this.permissions.includes(sens_info_admin)" (changeDetected)="handleChange($event)"></app-product-provider-data>
        </div>
        <!-- Segunda columna -->
        <div class="col-12 col-lg-4">
            <app-product-stock [product]="product" *ngIf="product.id > 0" (changeDetected)="handleChange($event)"></app-product-stock>
            <app-product-price [product]="product" [permissions]="permissions" (changeDetected)="handleChange($event)" *ngIf="product.id > 0"></app-product-price>
            <app-product-filters [product]="product" *ngIf="product.id > 0" (changeDetected)="handleChange($event)"></app-product-filters>
            <app-product-storage [product]="product" *ngIf="product.id > 0" (changeDetected)="handleChange($event)"></app-product-storage>
        </div>
    </div>
</div>
