<!-- Dashboard -->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <!-- open orders -->
        <div class="col-md-12 col-xl-4">
            <app-success-order-card></app-success-order-card>
        </div>
        <!-- pending -->
        <div class="col-md-6 col-xl-4">
            <app-pending-order-card></app-pending-order-card>
        </div>
        <!-- total sales -->
        <div class="col-md-6 col-xl-4">
            <app-total-sales-card class="col-xl-12 col-md-6"></app-total-sales-card>
        </div>
        <!-- profile -->
        <div class="col-md-12 col-xl-4">
            <app-greeting-card class="col-xl-8 col-lg-7 align-self-end mt-md-7 mt-lg-4 pt-md-2 pt-lg-0"></app-greeting-card>
            <app-categories-card class="col-xl-8 col-lg-7 align-self-end mt-md-7 mt-lg-4 pt-md-2 pt-lg-0"></app-categories-card>
        </div>
        <!-- balance chart -->
        <div class="col-md-12 col-xl-8">
            <app-balance-card class="col-xl-8"></app-balance-card>
            <app-products-card class="col-xl-8"></app-products-card>
        </div>
    </div>
</div>
