<div class="d-flex justify-content-center align-items-center" style="width: 100%; height: calc(100vh - 64px);">
    <div class="d-flex flex-column align-items-center">
        <mat-card class="mat-card card-image">
            <mat-card-content class="mat-card-content">
                <mat-card-title class="mat-card-title">
                    Página no encontrada
                </mat-card-title>
                <mat-card-subtitle class="mat-card-subtitle">
                    La ruta ingresada no existe
                </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>
</div>