
.card-product.addProduct.imgProduct {
    mat-card-content {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    form {
        width: 100%;
        .box-file-upload {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 250px;
            margin-bottom: 15px;
            .img-selected {
                border: 1px solid #e6e5e8;
                height: 100%;
                min-width: 40%;
                margin-right: 15px;
                border-radius: .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                h5 {
                    font-size: 14px!important;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    padding: 5px;
                }
                .error-box {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(253, 92, 92, 0.25);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h5 {
                        text-align: center;
                    }
                }
            }
            .img-dropzone {
                height: 100%;
                width: auto;
                font-weight: 500;
                text-align: center;
                position: relative;
                padding: 2.5rem;
                border-radius: .5rem;
                border: 2px dashed #e6e5e8;
                span {
                    font-size: 24px;
                    padding: 6px;
                    border-radius: 4px!important;
                }
                .text-file {
                    margin: 10px 0 5px 0;
                }
                .subtext-file {
                    display: block;
                    margin: 5px 0 10px 0;
                }
                &.dragover {
                    border-color: rgb(0, 105, 92);
                    background-color: #f9f9f9;
                    filter: opacity(0.5);
                }
            }
        }
        .product-img-btn-box {
            display: flex;
            justify-content: flex-end;
        }
    }
}
