<!--Componente que edita la imagen del producto -->

<mat-card class="card card-product addProduct imgProduct">
    <mat-card-header>
      <mat-card-title>Imagen del Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="dataForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
        <!-- Caja donde colocar o buscar la imagen deseada -->
        <div class="box-file-upload">
          <div class="img-selected">

            <!-- label de cargando... -->
            <h5 class="text-muted" *ngIf="load_image">
              cargando...
            </h5>
            
            <!-- caja de imagen -->
            <img *ngIf="imageSrc && !load_image" [src]="imageSrc" alt="Imagen seleccionada" />

            <!-- Error de la imagen -->
            <div class="error-box" *ngIf="error_image">
                <h5>{{ error_image }}</h5>
            </div>
          </div>
          <div class="img-dropzone"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)"
            [class.dragover]="isDragOver">

            <!-- caja para arrojar la imagen o cargarla -->
            <div class="d-flex justify-content-center">
              <div class="avatar">
                <span class="material-icons soft-grey-badge">
                  file_upload
                </span>
              </div>
            </div>
            <p class="text-file">Arrastra y suelta tus imágenes aquí</p>
            <small class="text-muted subtext-file">o</small>

            <label for="user-image" class="btn btn-outline-success">
              <p class="fs-08 mb-0">Carga desde tu pc</p>
            </label>

            <input #fileInput type="file" id="user-image" accept="image/*" style="display: hidden;" (input)="capture_img($event)">
          </div>
        </div>
        
        <!-- Botones de reseteo y confirmación -->
        <div class="product-img-btn-box">
          <button mat-stroked-button color="warn" class="me-3" type="button" (click)="resetAll()">
            Reset
          </button>
          <button mat-stroked-button color="primary" [disabled]="(this.dataForm.status == 'INVALID') || loading">
            Guardar
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer class="login-footer">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
