<!--Componente que edita los datos del proveedor -->

<mat-card class="card card-product addProduct infoProvider">
  <mat-card-header>
    <mat-card-title>Información del Proveedor</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="providers">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
      <!-- Nombre del proveedor -->
      <div>
        <mat-form-field appearance="outline" class="w-100 mb-0">
          <mat-label>Nombre del Proveedor</mat-label>
          <mat-select formControlName="provider" (valueChange)="changeState($event)">
            <mat-option [value]="1">Sin proveedor</mat-option>
            <ng-container *ngFor="let item of providers">
              <mat-option [value]="item.id">{{item.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="dataForm.get('provider')?.hasError('required')" class="fs-09">{{ getErrorProvider() }}</mat-error>
      </div>
      
      <!-- Caja de información del proveedor seleccionado -->
      <div class="w-100 mb-4 p-2 d-flex justify-content-start">
        <div class="d-flex flex-column w-50">
          <div>
            <span class="text-muted">Nombre: </span><span class="cap fw-500">{{ (selectedProvider)?selectedProvider['name']:'Sin proveedor' }}</span>
          </div>
          <div>
            <span class="text-muted">Teléfono: </span><span class="cap fw-500">{{ (selectedProvider)?selectedProvider['phone']:'No disponible' }}</span>
          </div>
        </div>

        <div class="d-flex flex-column w-50">
          <div>
            <span class="text-muted">Dirección: </span><span class="cap fw-500">{{ (selectedProvider)?selectedProvider['address']:'No disponible' }}</span>
          </div>
          <div>
            <span class="text-muted">País: </span><span class="cap fw-500">{{ (selectedProvider)?selectedProvider['country']:'No disponible' }}</span>
          </div>
        </div>
      </div>
      
      <!-- Fecha de compra y precio de compra -->
      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Fecha de compra</mat-label>
          <input matInput 
                 type="date"
                 formControlName="purchase_date"
                 required>
          <mat-error *ngIf="dataForm.get('purchase_date')?.hasError('required')" class="fs-09">{{ getErrorPurchaseDate() }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Precio de compra</mat-label>
          <input matInput 
                 type="number"
                 formControlName="purchase_price"
                 required>
          <mat-error *ngIf="dataForm.get('purchase_price')?.hasError('required')" class="fs-09">{{ getErrorPurchasePrice() }}</mat-error>
        </mat-form-field>
      </div>
      
      <!-- Botones de reseteo y confirmación -->
      <div class="submit-btn-box">
        <button mat-stroked-button color="warn" class="me-3" type="button" (click)="resetAll()">
          Reset
        </button>
        <button mat-stroked-button color="primary" type="submit" [disabled]="dataForm.invalid || loading || dataForm.untouched || dataForm.pristine">
          Guardar
        </button>
      </div>
    </form>
  </mat-card-content>
  <!-- Caja que se muestra si no hay proveedores creados -->
  <mat-card-content *ngIf="!providers">
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <p>No hay proveedores creados</p>
      <a mat-flat-button color="primary" routerLink="../../provider/provider-edit">
          + Agregar Proveedor
      </a>
    </div>
  </mat-card-content>
  <mat-card-footer class="login-footer">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

