  
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container"> 
      <!-- Layout container -->
      <div class="layout-page">
        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">    

                <!-- Product List Widget -->
                <mat-card class="card mb-6">
                    <mat-card-content class="mat-card-content">
                        <div>
                            <div class="row gy-4 gy-sm-1">
                                <!-- product with stock -->
                                <div class="col-sm-6 col-lg-3">
                                    <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-4 pb-sm-0">
                                        <div>
                                            <p class="soft-grey-color font-14 mb-1">Productos con stock</p>
                                            <h4 class="fw-500 mb-1">75</h4>
                                            <p class="soft-grey-color font-12 mb-0">
                                                Cantidad de productos con stock
                                            </p>
                                        </div>
                                        <div class="avatar me-sm-6">
                                            <span class="avatar-initial rounded text-heading">
                                                <span class="material-symbols-outlined">
                                                    inventory
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <hr class="d-none d-sm-block d-lg-none me-6">
                                </div>
                                <!-- Inventory value -->
                                <div class="col-sm-6 col-lg-3">
                                    <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-4 pb-sm-0">
                                        <div>
                                            <p class="soft-grey-color font-14 mb-1">Valor de inventario</p>
                                            <h4 class="fw-500 mb-1">$674,347.12</h4>
                                            <p class="soft-grey-color font-12 mb-0">
                                                Valor total del inventario con stock
                                            </p>
                                        </div>
                                        <div class="avatar me-lg-6">
                                            <span class="avatar-initial rounded bg-label-secondary text-heading">
                                                <mat-icon> attach_money</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                    <hr class="d-none d-sm-block d-lg-none">
                                </div>
                                <!-- Product without stock -->
                                <div class="col-sm-6 col-lg-3">
                                    <div class="d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0 card-widget-3">
                                        <div>
                                            <p class="soft-grey-color font-14 mb-1">Productos sin stock</p>
                                            <h4 class="fw-500 mb-1">45</h4>
                                            <p class="soft-grey-color font-12 mb-0">
                                                Ultimo movimiento menor a 60 días
                                            </p>
                                        </div>
                                        <div class="avatar me-sm-6">
                                            <span class="avatar-initial rounded bg-label-secondary text-heading">
                                                <span class="material-symbols-outlined">
                                                    assignment_late
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Quiet stock -->
                                <div class="col-sm-6 col-lg-3">
                                    <div class="d-flex justify-content-between align-items-start">
                                        <div>
                                            <p class="soft-grey-color font-14 mb-1">Stock inmovilizado</p>
                                            <h4 class="fw-500 mb-1">$168,345.23</h4>
                                            <p class="soft-grey-color font-12 mb-0">
                                                Ultimo movimiento mayor a 60 días
                                            </p>
                                        </div>
                                        <div class="avatar">
                                            <span class="avatar-initial rounded bg-label-secondary text-heading">
                                                <span class="material-symbols-outlined">
                                                    inventory_2
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
    
                <!-- Product List Table -->
                <mat-card class="card mb-6">
                    <mat-card-content class="mat-card-content">
                        <div class="billing-loader" *ngIf="load">
                            <mat-spinner *ngIf="load"></mat-spinner>
                        </div>

                        <mat-accordion>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                <mat-panel-title class="fw-500">
                                  Filtro
                                </mat-panel-title>
                                <mat-panel-description style="overflow: auto;">
                                    <mat-chip-set aria-label="filter-chips" *ngFor="let item of chips | keyvalue">
                                            <mat-chip *ngIf="item.value" style="background-color: rgb(174, 213, 129)!important; margin: 0 6px">
                                                {{ item.value }}
                                                <button matChipRemove (click)="delete(item.key)">
                                                  <mat-icon>cancel</mat-icon>
                                                </button>
                                            </mat-chip>
                                      </mat-chip-set>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                            <div class="row">
                                <!-- Filtro Categorías -->
                                <mat-form-field class="col-md-4">
                                    <mat-label>Categoría</mat-label>
                                    <mat-select [(ngModel)]="chips.category" (valueChange)="add($event, 'category')">
                                        <mat-option value="Pagado">Pagado</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- Filtro Productos con Stock -->
                                <mat-form-field class="col-md-4">
                                    <mat-label>Stock</mat-label>
                                    <mat-select  [(ngModel)]="chips.stock" (valueChange)="add($event, 'stock')">
                                        <mat-option value="Con Stock">Con Stock</mat-option>
                                        <mat-option value="Sin stock">Sin Stock</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- Filtro Estado -->
                                <mat-form-field class="col-md-4">
                                    <mat-label>Estado</mat-label>
                                    <mat-select [(ngModel)]="chips.state" (valueChange)="add($event, 'state')">
                                        <mat-option value="Activo">Activo</mat-option>
                                        <mat-option value="Inactivo">Inactivo</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-4">
                                    <mat-label>Filtrar</mat-label>
                                    <input [ngModel]="chips.search" matInput #search (change)="add($event, 'search')" placeholder="Buscar un producto" #input>
                                </mat-form-field>
                            </div>
                            </mat-expansion-panel>
                          </mat-accordion>

                        <div class="box-list" *ngIf="!recharge">
                            <div class="row justify-content-end">
                                <div class="btn-addProduct col-md-4">
                                    <button mat-flat-button color="primary">
                                        + Agregar Producto
                                    </button>
                                </div>
                            </div>
                            <table mat-table [dataSource]="dataSource" class="mt-1">
                            
                                <!-- Position Column -->
                                <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                </ng-container>
                            
                                <!-- date Column -->
                                <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                </ng-container>
                            
                                <!-- amount Column -->
                                <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef> Monto </th>
                                <td mat-cell *matCellDef="let element">$ 25000 </td>
                                </ng-container>
                            
                                <!-- state Column -->
                                <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-chip class="cap" [style]="{'background-color':element.state == 'pagado'?'rgb(129, 205, 82)':'rgb(255, 87, 51)'}"><span class="hide-968">{{element.state}}</span><mat-icon class="hide show-968">{{ element.state == 'pagado'?'attach_money':'money_off' }}</mat-icon></mat-chip>
                                </td>
                                </ng-container>
                
                                <ng-container matColumnDef="bill">
                                    <th mat-header-cell *matHeaderCellDef> Factura </th>
                                    <td mat-cell *matCellDef="let element"><a href="#"> <mat-icon>picture_as_pdf</mat-icon> </a></td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bill-row"></tr>
                
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">Búsqueda sin resultados para "{{chips.category || chips.stock || chips.state || chips.search}}"</td>
                                </tr>
                            </table>
                            <mat-paginator class="m-t-15" [length]="resultsLength" [pageSize]="10" showFirstLastButtons aria-label="paginador"></mat-paginator>              
                        </div>
                        <div class="billing-recharge" *ngIf="recharge">
                            <!-- Botón para recargar los datos -->
                            <button mat-raised-button (click)="rechargeData()">Recargar los datos</button>
                        </div>
                    </mat-card-content>
                    <mat-card-footer class="login-footer">
                        <mat-progress-bar mode="indeterminate" *ngIf="false"></mat-progress-bar>
                    </mat-card-footer>
                </mat-card>

            <!--
            <div class="card">
            <div class="box-table" *ngIf="!recharge">
                <mat-form-field  class="bill-filter-input">
                    <mat-label>Filtrar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. texto" #input>
                    <div class="d-flex justify-content-between align-items-center row pt-4 gap-4 gap-md-0">
                        <div class="col-md-4 product_status"></div>
                        <div class="col-md-4 product_category"></div>
                        <div class="col-md-4 product_stock"></div>
                    </div>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource">
                    
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Monto </th>
                        <td mat-cell *matCellDef="let element">$ 25000 </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element">
                        <mat-chip class="cap" [style]="{'background-color':element.state == 'pagado'?'rgb(129, 205, 82)':'rgb(255, 87, 51)'}"><span class="hide-968">{{element.state}}</span><mat-icon class="hide show-968">{{ element.state == 'pagado'?'attach_money':'money_off' }}</mat-icon></mat-chip>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="bill">
                        <th mat-header-cell *matHeaderCellDef> Factura </th>
                        <td mat-cell *matCellDef="let element"><a href="#"> <mat-icon>picture_as_pdf</mat-icon> </a></td>
                        </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bill-row"></tr>
    
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Búsqueda sin resultados para "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator class="m-t-15" [length]="resultsLength" [pageSize]="10" showFirstLastButtons aria-label="paginador"></mat-paginator>              
            </div>
            <div class="billing-recharge" *ngIf="recharge">

                <button mat-raised-button (click)="rechargeData()">Recargar los datos</button>
            </div>
        -->
            </div>
            <!-- / Content -->
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>
    <!-- / Layout container -->
  </div>
  <!-- / Layout wrapper -->
