

.box-list {
    padding-top: 10px;
    .btn-addProduct {
        margin: 5px 0;
        display: flex;
        justify-content: flex-end;
    }
}

.card-header {
    border-color: rgba(46, 38, 61, .075);
    div.card-datatable {
        padding-bottom: 1rem;
    }
    .table-responsive {
        overflow-x: auto;
    }
}

.mat-mdc-table .mdc-data-table__header-row {
    font-size: 0.8rem;
}

.product-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    .image-product {
        border-radius: 8px;
        background-color: #ecedee !important;
        color: #8a8d93 !important;
        img {
            border-radius: 8px;
        }
    }
    .text-product {
        display: flex;
        flex-direction: column;
        .name-product {
            --bs-text-opacity: 1;
            color: #433c50 !important;
            white-space: nowrap !important;
            font-weight: 500 !important;
        }
        .description-product {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 0.9rem;
            font-weight: 300 !important;
        }
    }
    .text-product-box {
        min-width: 150px;
        max-width: 300px;
    }
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    p {
        align-items: center;
        margin: 30px 0;
    }
}

.recharge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 20px 0 10px;
    p {
        align-items: center;
        margin-bottom: 10px;
    }
}

.status-container {
    //margin-bottom: 10px;

    .status {
      border-radius: 5px;
      padding: 0 10px;
      font-size: 0.8rem;
      height: fit-content;
      border: 2px solid rgb(194, 188, 188);
      cursor: pointer;
      &:hover {
        background-color: #efeff2;
      }
    }
}