<mat-card id="sdialog" class="mat-card card-image">
  <mat-card-content class="mat-card-content">
    <a mat-icon-button class="close-card" routerLink="#" aria-label="close-button" (click)="closeDialog(false)">
        <mat-icon>close</mat-icon>
    </a>
      <mat-card-title class="mat-card-title text-center mt-2">
            <mat-chip>
                <mat-icon style="position: relative; bottom: -4px;">create</mat-icon>
                <span class="cap" style="position: relative; bottom: 3px; left: 4px;">Nuevo rol</span>
            </mat-chip>
      </mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle text-center">
          Modificá los permisos asignados a este Rol
      </mat-card-subtitle>
      <div>
        <form [formGroup]="roleForm" (ngSubmit)="createRole()">
            <div class="mid-user-data-container">
                <div style="width: 20%;">
                    <mat-form-field appearance="fill">
                        <mat-label>Icono</mat-label>
                        <mat-select formControlName="icon_role" required>
                            <mat-option value="person"><mat-icon>person</mat-icon> usuario</mat-option>
                            <mat-option value="person_outline"><mat-icon>person_outline</mat-icon> Usuario</mat-option>
                            <mat-option value="computer"><mat-icon>computer</mat-icon> Admin</mat-option>
                            <mat-option value="desktop_mac"><mat-icon>desktop_mac</mat-icon> Admin</mat-option>
                            <mat-option value="store"><mat-icon>store</mat-icon> Gestor</mat-option>
                        </mat-select>
                        <mat-error class="fs-08" *ngIf="this.roleForm.controls['icon_role']!.errors">{{getIconError()}}</mat-error>
                    </mat-form-field>
                </div>
                <div style="width: 80%;">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Rol</mat-label>
                        <input matInput placeholder="Nombre del rol"
                                formControlName="name_role" 
                                required>
                        <mat-error class="fs-08" *ngIf="this.roleForm.controls['name_role']!.errors">{{getNameError()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="user-data-input m-t-10 text-center">
                <button mat-raised-button color="primary" type="submit" [disabled]="this.roleForm.invalid || this.roleForm.untouched || this.roleForm.pristine || this.disable_submit">Crear</button>
                <button mat-raised-button color="warn" class="m-l-10" type="reset" (click)="closeDialog(false)"> Cancelar </button>
            </div>
        </form>
      </div>
  </mat-card-content>
  <mat-card-footer class="login-footer">
    <mat-progress-bar mode="indeterminate" *ngIf="loading_create_role"></mat-progress-bar>
    </mat-card-footer>
</mat-card>