<mat-card id="sdialog" class="mat-card card-image">
    <mat-card-content class="mat-card-content">
        <a mat-icon-button class="close-card" routerLink="#" aria-label="close-button" (click)="closeDialog()">
            <mat-icon>keyboard_backspace</mat-icon>
        </a>
        <mat-card-title class="mat-card-title">
            Acceso restringido
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">
            Ingresá tu contraseña de acceso para modificar
        </mat-card-subtitle>
        <form [formGroup]="checkPassword" (ngSubmit)="onSubmitChecker()">
            <div class="user-data-input">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Contraseña actual</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"
                            formControlName="password"
                            type="password" 
                            required
                            (focus)="clean_btn_verify()">
                            <button mat-icon-button matSuffix type="button" (click)="hidePassword($event)" >
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <button mat-mini-fab 
                                    matSuffix 
                                    class="me-2"
                                    type="submit" 
                                    (click)="onSubmitChecker()" 
                                    [color]="color" 
                                    [disabled]="btn_verify_pass">
                                <mat-icon>{{ icon }}</mat-icon> <!-- search / primary -->
                            </button>
                    <mat-error class="fs-08" *ngIf="this.checkPassword.controls['password']!.errors">{{getPasswordCheckErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer class="login-footer">
        <mat-progress-bar mode="indeterminate" *ngIf="loading_check_password"></mat-progress-bar>
    </mat-card-footer>
</mat-card>