
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in assets/styles -->
<!-- ============================================================== -->

<div class="main-container">
    <mat-toolbar color="primary" class="topbar relative">
        <!-- ============================================================== -->
        <!-- sidebar toggle -->
        <!-- ============================================================== -->  
        <div class="sidenav-header">
            <button mat-icon-button value="sidebarclosed" (click)="toggleSidenav()" *ngIf="isAuthenticated">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->
        <div class="logo-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                    <!-- Light Logo icon -->
                    <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span fxShow="false" fxShow.gt-xs>
                 <!-- dark Logo text -->
                 <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">
                 <!-- Light Logo text -->    
                 <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
                </span> </a>
        </div>

        <!-- ============================================================== -->
        <!-- Login or recharge component - style you can find in header.scss -->
        <!-- ============================================================== -->
        <div class="log-header">
            <app-header-login *ngIf="!isLogged" [screenLarge]="screenLarge"></app-header-login>
            <app-header-recharge *ngIf="isLogged" [screenLarge]="screenLarge" [isLogged]="isLogged" [isAuthenticated]="isAuthenticated"></app-header-recharge>
        </div>
    </mat-toolbar>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>