<mat-card id="sdialog" class="mat-card card-image">
  <mat-card-content class="mat-card-content">
    <a mat-icon-button class="close-card" aria-label="close-button" (click)="closeDialog(false)">
        <mat-icon>close</mat-icon>
    </a>
      <mat-card-title class="mat-card-title text-center mt-2">
            <mat-chip>
                <mat-icon style="position: relative; bottom: -4px;">filter_alt</mat-icon>
                <span class="cap" style="position: relative; bottom: 3px; left: 4px;">
                    Crear un nuevo filtro
                </span>
            </mat-chip>
      </mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle text-center">
          Creá un nuevo filtro para tus productos
      </mat-card-subtitle>
      <div>
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="w-100 mb-1">
                <mat-label>Nombre del filtro</mat-label>
                <input matInput
                    type="text"
                    formControlName="filter_name" 
                    required>
                <mat-error class="fs-08" *ngIf="this.dataForm.controls['filter_name']!.errors">{{getNameError()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Primer valor</mat-label>
                <input matInput
                    type="text"
                    formControlName="filter_value" 
                    required>
                <mat-error class="fs-08" *ngIf="this.dataForm.controls['filter_value']!.errors">{{getValueError()}}</mat-error>
            </mat-form-field>
            <div class="m-t-10 text-center">
                <button mat-stroked-button color="warn" class="me-3" type="reset" (click)="closeDialog(false)">Cancelar</button>
                <button mat-stroked-button color="primary" type="submit" [disabled]="this.dataForm.invalid || this.dataForm.untouched || this.dataForm.pristine">Guardar</button>
            </div>
        </form>
      </div>
  </mat-card-content>
  <mat-card-footer class="login-footer">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>