
<div class="card options">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="position-absolute end-0 me-5 pe-4">
            <span class="badge rounded-pill cap fs-09" 
                [ngClass]="(product['state'] == 'activo')?'bg-label-success':'bg-label-danger'"
                *ngIf="product?product['state']:false">
                {{ product['state'] }}
            </span>
            <span class="h6" *ngIf="product?(!product['state']):false">Sin estado</span>
        </div>
        <h4 class="cap mb-0">
            <span>{{ (!this.data.data || !product)?'Buscar':'Editar' }}</span> un producto
        </h4>
        <a mat-icon-button class="" routerLink="#" aria-label="close-button" (click)="closeDialog(false)">
            <mat-icon style="position: relative; top: -2px;">close</mat-icon>
        </a>
    </div>
    <!-- Cargando -->
    <div class="d-flex justify-content-center p-2" *ngIf="load">
        <h4>Cargando...</h4>
    </div>
    <!-- Caja que coloca el texto elegido -->
    <div style="position: relative;" [ngStyle]="{'height': (product?'82px':''), 'z-index': 10}" *ngIf="!this.data.data || !product">
        <mat-form-field class="w-100 bg-white" 
                        appearance="outline"
                        [style.position]="(optionBox && product)?'absolute':'relative'">
            <input matInput 
                    type="text"
                    placeholder="Ingresá un texto"
                    #input
                    (keyup)="getText($event)"
                    class="mb-1">
            <!-- Tabla que muestra las posibles opciones -->
            <table mat-table [dataSource]="dataSource" *ngIf="optionBox"> 
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element;">
                    <div class="d-flex flex-column align-items-start">
                        <div class="fw-500 fs-11">
                            {{ element.name || 'Sin información' }}
                        </div>
                        <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center fs-08">
                                Color: 
                                <span class="material-icons fs-09 ms-1" [style.color]="element.option_1_name">
                                    square
                                </span>
                            </div>
                            <div>
                                <span class="fs-08">{{ this._auth.getOptionName2() || 'Opción 2' }}: </span>
                                <span class="fw-500">{{ element.option_2_name }}</span>
                            </div>
                            <div>
                                <span class="fs-08">Stock: </span>
                                <span class="fw-700">{{ (element.stock_available > 0)?element.stock_available:'sin stock' }}</span>
                            </div>
                        </div>
                    </div>
                    </td>
                </ng-container>
                
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr>
            </table>
            <p class="mb-0 fw-500 ms-1" *ngIf="!dataSource.data.length && optionBox">Sin opciones</p>
        </mat-form-field>
    </div>
    <ng-container *ngIf="product">
        <!-- caja de la imagen -->
        <div class="d-flex align-items-center flex-column">
            <img [src]="(product['image'])?(uriImg + product['image']):''" alt="Provider image" class="img-fluid rounded mb-3" width="120" height="120">
            <div class="text-center mb-3">
                <h4 class="mb-0">{{ (product['name'])?product['name']:'Sin información' }}</h4>
                <span class="fs-09 text-muted">{{ (product['description'])?product['description']:'Sin información' }}</span>
            </div>
        </div>
        <!-- caja con indicadores básicos y el nombre -->
        <div class="d-flex justify-content-around flex-wrap gap-0 gap-md-3 gap-lg-4">
            <div class="d-flex align-items-center gap-3">
                <div class="avatar">
                    <span class="avatar-initial rounded text-heading primary-badge">
                        <span class="material-symbols-outlined">inventory</span>
                    </span>
                </div>
                <div>
                    <h5 class="mb-0">{{ (product.stock_available)?product.stock_available:0 }} unds</h5>
                    <span class="text-muted fs-08">Stock</span>
                </div>
            </div>
            <div class="d-flex align-items-center gap-3">
                <div class="avatar">
                    <span class="avatar-initial rounded text-heading primary-badge">
                        <span class="material-symbols-outlined">paid</span>
                    </span>
                </div>
                <div>
                    <h5 class="mb-0">${{ (product.sale_price)?(product.sale_price | number:'1.2-2'):'0.00' }}</h5>
                    <span class="text-muted fs-08">Precio</span>
                </div>
            </div>
        </div>
        <!-- caja con información básica -->
        <h5 class="border-bottom text-capitalize pb-2 mt-3 mb-2">detalles</h5>
        <ul class="list-unstyled mb-2 ps-3">
            <li class="mb-2">
                <span class="me-1 fs-08">Color: </span>
                <span>
                    <span class="h6" *ngIf="!product['option_1_name'] && !data.data.option_1">Sin información</span>
                    <span class="material-icons fs-11" 
                            [style.color]="product['option_1_name'] || data.data.option_1"
                            style="position: relative; top: 3px;"
                            *ngIf="product['option_1_name'] || data.data.option_1">
                        square
                    </span>
                </span>
            </li>
            <li class="mb-2">
                <span class="me-1 fs-08">{{ this._auth.getOptionName2() || 'Opción 2' }}: </span>
                <span class="h6">{{ (product['option_2_name'])?product['option_2_name']:(data.data.option_2?data.data.option_2:'Sin información') }}</span>
            </li>
            <li class="mb-2">
                <span class="me-1 fs-08">SKU: </span>
                <span class="h6">{{ (product['sku'])?product['sku']:'Sin información' }}</span>
            </li>
            <li class="mb-2">
                <span class="me-1 fs-08">Estado: </span>
                <span class="badge rounded-pill cap" [style.color]="data.data.color" [style.background-color]="data.data.bgColor">
                    {{ data.data.status }}
                </span>
            </li>
        </ul>
    </ng-container>
    <!-- Caja con botón para editar información -->
    <div class="d-flex justify-content-between">
        <div class="posistion-relative">
            <mat-form-field appearance="outline">
                <mat-label>Cantidad</mat-label>
                    <input matInput
                            type="number"
                            [(ngModel)]="qty"
                            (ngModelChange)="setQty($event)"
                            required>
                    <mat-error class="fs-08" *ngIf="!qty">
                        <span *ngIf="!qty">Ingresá una cantidad</span>
                    </mat-error>
            </mat-form-field>
            <span class="fs-08 position-absolute" style="color: red; bottom: 15px; left: 30px;" *ngIf="stkError">
                No hay stock suficiente
            </span>
        </div>
        <button mat-fab
                color="primary" 
                class="ms-1 me-1"
                [disabled]="!product || (product.state == 'inactivo') || (product.stock_available == 0) || qty == null || qty == 0 || data?.data.qty == this.qty" 
                (click)="confirm(true)">
                <mat-icon>add</mat-icon>
        </button>
        <button mat-fab
                color="warn"
                [disabled]="!data.data" 
                (click)="confirm(false)">
                <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>