
.box-info {
    display: inline-block;
    text-align: center;
    h4 {
        font-weight: 600;
        color: #222;
        font-size: 1.4rem;
    }
    p {
        line-height: 16px;
    }
}

.btn-date {
    position: absolute;
    top: 5px;
    right: 0;
    color: #b6b4b4;
    mat-icon {
        position: relative;
        bottom: 2px;
    }
}