

.icon {
    position: relative;
    font-size: 40px;
    border: 4px solid #2ecc71;
    border-left: 4px solid #ccc;
    border-radius: 50%;
    padding: 21px 24px;
    color: #2ecc71;
}

.box-info {
    display: inline-block;
    text-align: center;
    h3 {
        margin-bottom: 8px;
        font-weight: 600;
        color: #222;
        font-size: 1.7rem;
    }
    p {
        line-height: 16px;
    }
}

.btn-date {
    position: absolute;
    top: 5px;
    right: 0;
    color: #b6b4b4;
    mat-icon {
        position: relative;
        bottom: 2px;
    }
}