<div class="login-register-init">
    <div class="login-register-box">
        <mat-card class="mat-card">
            <mat-card-content class="mat-card-content">
                <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <img src="assets/images/logo-icon.png" alt="homepage">
                        <h4 class="m-t-0 mb-4">Activá tu cuenta</h4>
                    </div>
                    <p class="text-center font-14">
                        Ingresá el código alfanumérico para activar tu cuenta
                    </p>
                    <div class="form-auth">
                        <div class="form-input-100">
                            <mat-form-field hintLabel="10 caracteres" appearance="fill">
                                <mat-label>Ingresá el código alfanumérico</mat-label>
                                <input matInput 
                                       #input 
                                       maxlength="10"
                                       minlength="10" 
                                       formControlName="activation_code"
                                       required>
                                <mat-error *ngIf="this.verifyForm.controls['activation_code']!.errors">{{getCodeErrorMessage()}}</mat-error>
                                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-button color="primary" type="button" (click)="sendCode()">
                                <ng-container *ngIf="!load; else loadingSpinner">
                                    Enviar código
                                </ng-container>
                                <ng-template #loadingSpinner>
                                  <mat-spinner diameter="20"></mat-spinner>
                                </ng-template>
                            </button>
                        </div>                          
                        <div class="form-input-100 mt-3">
                            <button mat-raised-button type="submit" color="primary" [disabled]="this.verifyForm.invalid || this.disable_submit">Activar mi cuenta</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-footer class="login-footer">
                <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>          
    </div>
</div>
