<mat-card class="mat-card card-image">
    <mat-card-content class="mat-card-content">
        <a mat-icon-button class="close-card" routerLink="../index" aria-label="close-button">
            <mat-icon>close</mat-icon>
        </a>
        <mat-card-title class="mat-card-title">
            Nombre de usuario
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">
            Editá tu nombre de usuario
        </mat-card-subtitle>
        <div>
            <form [formGroup]="userDataForm" (ngSubmit)="onSubmitUser()">
                <div class="user-data-container pt-0">
                    <div class="user-data-input">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre de usuario</mat-label>
                            <input matInput
                                    formControlName="name"
                                    required>
                            <mat-error *ngIf="this.userDataForm.controls['name']!.errors">{{getUserNameErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="user-data-input">
                        <button mat-raised-button color="primary" type="submit" [disabled]="userDataForm.invalid || this.userDataForm.controls['name'].value == act_name || this.disable_submit">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
    <mat-card-footer class="login-footer">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
