<div class="index-container">
    <a routerLink="../profile" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true
     *ngIf="is_employee">
        <mat-icon>fingerprint</mat-icon>
        <h5>Mi cuenta</h5>
    </a>
    <a routerLink="../enterprise-info" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true
     *ngIf="permissions.includes('1')">
        <mat-icon>business</mat-icon>
        <h5>Mi empresa</h5>
    </a>
    <a routerLink="../security" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true>
        <mat-icon>vpn_key</mat-icon>
        <h5>Seguridad</h5>
    </a>
    <a routerLink="../configuration" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true
     *ngIf="permissions.includes('1')">
        <mat-icon>settings</mat-icon>
        <h5>Configuración</h5>
    </a>
</div>
