<!--Componente que edita el precio del producto -->

<mat-card class="card card-product addProduct productPrice">
  <mat-card-header>
    <mat-card-title>Precio del producto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
      
      <!-- Caja que muestra si el producto no tiene precio -->
      <div *ngIf="product.purchase_price == 0">
        <p class="fs-09">Para definir el precio debe elegir un proveedor y establecer un precio de compra.</p>
      </div>

      <!-- Caja precio venta -->
      <div *ngIf="product.purchase_price > 0" class="d-flex justify-content-between align-items-center b-all p-2 mb-4" style="border-radius: 4px;">
        <p class="d-block mb-0 text-muted">Precio de venta: </p>
        <h3 class="mb-0 fw-700 pe-2">$<span>{{ this.dataForm.get('sale_price')?.value || 0 | number:'1.2-2' }}</span></h3>
      </div>
      
      <!-- Caja de modificación del precio en base a precio de compra -->
      <div class="box-reprice" *ngIf="this.permissions.includes(sens_info_admin) && product.purchase_price > 0">

        <!-- Caja precio de compra -->
        <div class="d-flex flex-column b-all p-2 me-3" style="border-radius: 4px;">
          <p class="text-muted fs-09 mb-1">Precio de compra</p>
          <div class="d-flex justify-content-center">
            <h4 class="mb-0">$<span>{{ this.dataForm.get('purchase_price')?.value || 0 | number:'1.2-2' }}</span></h4>
          </div>
        </div>

        <!-- Valor por el cual se multiplica el precio de compra -->
        <div>
          <mat-form-field appearance="outline" class="mb-0">
            <mat-label>Factor</mat-label>
            <input matInput 
                    type="number"
                    [value]="(this.dataForm.get('sale_price')?.value)/(this.dataForm.get('purchase_price')?.value) | number:'1.2-4'"
                    (change)="setFactor($event)"
                    [disabled]="product.purchase_price == 0">
          </mat-form-field>
        </div>

      </div>
      <!-- Botones de reseteo y confirmación -->
      <div class="submit-btn-box" *ngIf="this.permissions.includes(sens_info_admin)">
        <button mat-stroked-button color="warn" class="me-3" type="button" (click)="resetAll()">
          Reset
        </button>
        <button mat-stroked-button color="primary" type="submit" [disabled]="dataForm.invalid || loading || (this.product.sale_price == this.dataForm.get('sale_price')?.value)">
          Guardar
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer class="login-footer">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
