
.card-product.addProduct.productPrice {
    mat-card-content {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .box-reprice {
        display: flex;
        justify-content: space-around;
        margin-bottom: 16px;
        mat-form-field {
            width: 95px !important;
        }
    }
    .submit-btn-box {
        display: flex;
        justify-content: flex-end;
    }
}