<div class="index-container">
    <a routerLink="../user-data" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true>
        <mat-icon>fingerprint</mat-icon>
        <h5>Datos del usuario</h5>
    </a>
    <a routerLink="../billing" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true
     *ngIf="admin">
        <mat-icon>attach_money</mat-icon>
        <h5>Facturación</h5>
    </a>
    <a routerLink="../edit-userphoto" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true>
        <mat-icon>add_a_photo</mat-icon>
        <h5>Editar imagen de usuario</h5>
    </a>
    <a routerLink="../edit-username" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true>
        <mat-icon>account_circle</mat-icon>
        <h5>Editar nombre de usuario</h5>
    </a>
    <a routerLink="../edit-password" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true>
        <mat-icon>vpn_key</mat-icon>
        <h5>Editar contraseña</h5>
    </a>
    <a routerLink="../edit-email" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true>
        <mat-icon>email</mat-icon>
        <h5>Editar correo de ingreso</h5>
    </a>
    <a routerLink="../delete-account" class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]=true
     *ngIf="admin">
        <mat-icon>power_settings_new</mat-icon>
        <h5>Eliminar cuenta</h5>
    </a>
</div>
