<!--Componente que edita la ubicación -->

<mat-card class="card card-product addProduct productLocation">
  <mat-card-header>
    <mat-card-title>Ubicación del producto</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="storages">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
      
      <!-- Ubicación -->
      <div>
        <mat-form-field appearance="outline" class="w-100 mb-0">
          <mat-label>Ubicación del producto</mat-label>
          <mat-select formControlName="storage_location" (valueChange)="changeState($event)">
            <mat-option [value]="1">Sin ubicación</mat-option>
            <ng-container *ngFor="let item of storages">
              <mat-option [value]="item.id" [disabled]="item.status == 0">{{item.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="dataForm.get('storage_location')?.hasError('required')" class="fs-09">{{ getErrorStorage() }}</mat-error>
      </div>
      <!-- Caja de información del proveedor seleccionado -->
      <div class="w-100 mb-4 p-2 d-flex justify-content-start">
        <div class="d-flex flex-column">
          <div>
            <span class="text-muted">Ubicación: </span><span class="cap fw-500">{{ (selectedStorage)?selectedStorage['name']:'Sin ubicación' }}</span>
          </div>
          <div>
            <span class="text-muted">Dirección: </span><span class="cap fw-500">{{ (selectedStorage)?selectedStorage['address']:'Sin información' }}</span>
          </div>
        </div>
      </div>

      <!-- Botones de reseteo y confirmación -->
      <div class="submit-btn-box">
        <button mat-stroked-button color="warn" class="me-3" type="button" (click)="resetAll()">
          Reset
        </button>
        <button mat-stroked-button color="primary" type="submit" [disabled]="dataForm.invalid || loading || dataForm.untouched || dataForm.pristine">
          Guardar
        </button>
      </div>
    </form>
  </mat-card-content>
  <!-- Caja que se muestra si no hay depósitos creados -->
  <mat-card-content *ngIf="!storages">
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <p>No hay depósitos creados</p>
      <a mat-flat-button color="primary" routerLink="../../storage/storage-edit">
          + Agregar Depósito
      </a>
    </div>
  </mat-card-content>
  <mat-card-footer class="login-footer">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
