
<div class="detailProvider row">
    <!-- Caja que contiene imagen, indicadores básicos y detalles -->
    <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
        <div class="card mb-6">
            <div class="card-body pt-12">
                <!-- caja de la imagen -->
                <div>
                    <div class="d-flex align-items-center flex-column">
                        <img src="../../../../../assets/images/users/obsolete/blanck_enterprise_obsolete.png" alt="Provider image" class="img-fluid rounded mb-4" width="120" height="120">
                        <div class="text-center mb-6">
                            <h4 class="mb-0">A Todo Moda</h4>
                            <span class="fs-09 text-muted">Proveedor ID #<span>35</span></span>
                        </div>
                    </div>
                </div>
                <!-- caja con indicadores básicos y el nombre -->
                <div class="d-flex justify-content-around flex-wrap mb-6 gap-0 gap-md-3 gap-lg-4 mt-3">
                    <div class="d-flex align-items-center gap-3">
                        <div class="avatar">
                            <span class="avatar-initial rounded text-heading primary-badge">
                                <span class="material-symbols-outlined">shopping_cart</span>
                            </span>
                        </div>
                        <div>
                            <h5 class="mb-0">184</h5>
                            <span class="text-muted fs-08">Ordenes</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <div class="avatar">
                            <span class="avatar-initial rounded text-heading primary-badge">
                                <span class="material-symbols-outlined">paid</span>
                            </span>
                        </div>
                        <div>
                            <h5 class="mb-0">$12564</h5>
                            <span class="text-muted fs-08">Invertido</span>
                        </div>
                    </div>
                </div>
                <!-- caja con información básica -->
                <div>
                    <h5 class="border-bottom text-capitalize pb-4 mt-4 mb-4">detalles</h5>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-2">
                            <span class="h6 me-1">Email: </span>
                            <span>info@atodomoda.com</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">Teléfono: </span>
                            <span>3413447086</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">Whatsapp: </span>
                            <span>3413447086</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">Dirección: </span>
                            <span>Azcuénaga 1876</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">País: </span>
                            <span>Argentina</span>
                        </li>
                    </ul>
                </div>
                <!-- Caja con botón para editar información -->
                 <div class="d-flex justify-content-center">
                    <button mat-flat-button color="primary" class="w-100">
                        <mat-icon style="position: relative; bottom: 2px;">edit</mat-icon>
                        Editar detalles
                    </button>
                 </div>
            </div>
        </div>
    </div>
    <!-- Caja que contiene información de las operaciones -->
    <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
        <!-- Tabs para ver otras opciones -->
         <div class="nav-align-tab mb-4">
            <ul class="nav nav-pills flex-column flex-md-row mb-6 row-gap-2">
                <li class="nav-item me-3">
                    <button mat-flat-button (click)="toggleButtonStyle()" color="primary">
                        <mat-icon style="position: relative; bottom: 2px;">edit</mat-icon>
                        Descripción
                    </button>
                </li>
                <li class="nav-item me-3">
                    <button mat-button color="primary">
                        <mat-icon style="position: relative; bottom: 2px;">list</mat-icon>
                        Pedidos
                    </button>
                </li>
            </ul>
         </div>
         <!-- Conjunto de cards con información -->
          <div class="row text-nowrap">
            <!-- cards individuales -->
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-icon mb-2">
                            <div class="avatar">
                                <span class="avatar-initial rounded text-heading primary-badge">
                                    <span class="material-symbols-outlined">shopping_cart</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-info">
                            <h5 class="card-title mb-2">Account Balance</h5>
                            <div class="d-flex align-items-baseline gap-1">
                                <h5 class="text-primary mb-0">$2345</h5>
                                <p class="mb-0">Credit left</p>
                            </div>
                            <p class="mb-0 text-truncate">Account balance for next purchase</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-icon mb-2">
                            <div class="avatar">
                                <span class="avatar-initial rounded text-heading primary-badge">
                                    <span class="material-symbols-outlined">shopping_cart</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-info">
                            <h5 class="card-title mb-2">Account Balance</h5>
                            <div class="d-flex align-items-baseline gap-1">
                                <h5 class="text-primary mb-0">$2345</h5>
                                <p class="mb-0">Credit left</p>
                            </div>
                            <p class="mb-0 text-truncate">Account balance for next purchase</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-icon mb-2">
                            <div class="avatar">
                                <span class="avatar-initial rounded text-heading primary-badge">
                                    <span class="material-symbols-outlined">shopping_cart</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-info">
                            <h5 class="card-title mb-2">Account Balance</h5>
                            <div class="d-flex align-items-baseline gap-1">
                                <h5 class="text-primary mb-0">$2345</h5>
                                <p class="mb-0">Credit left</p>
                            </div>
                            <p class="mb-0 text-truncate">Account balance for next purchase</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-icon mb-2">
                            <div class="avatar">
                                <span class="avatar-initial rounded text-heading primary-badge">
                                    <span class="material-symbols-outlined">shopping_cart</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-info">
                            <h5 class="card-title mb-2">Account Balance</h5>
                            <div class="d-flex align-items-baseline gap-1">
                                <h5 class="text-primary mb-0">$2345</h5>
                                <p class="mb-0">Credit left</p>
                            </div>
                            <p class="mb-0 text-truncate">Account balance for next purchase</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Tabla de pedidos -->
            <div class="card mb-4">
                <!-- Loader -->
                <div class="provider-loader" *ngIf="load">
                    <p>Cargando...</p>
                </div>
                <!-- Table of providers -->
                <div class="box-list" *ngIf="!recharge && resultsLength">
                    <div class="d-flex justify-content-between border-bottom">
                        <h4 class="mb-0 mt-2 fw-700">Listado de pedidos</h4>
                        <mat-form-field appearance="outline">
                            <mat-label>Filtrar</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                        </mat-form-field>
                    </div>
                    <table mat-table [dataSource]="dataSource" matSort>
                    
                        <!-- order Column -->
                        <ng-container matColumnDef="order">
                        <th mat-header-cell *matHeaderCellDef> PEDIDO </th>
                        <td mat-cell *matCellDef="let element">
                            #45268
                        </td>
                        </ng-container>
                    
                        <!-- date Column -->
                        <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
                        <td mat-cell *matCellDef="let element"> 
                            12/02/2024
                        </td>
                        </ng-container>

                        <!-- status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="max-1280-hidden"> ESTADO </th>
                            <td mat-cell *matCellDef="let element" class="max-1280-hidden">
                                Activo
                            </td>
                        </ng-container>

                        <!-- ammount Column -->
                        <ng-container matColumnDef="ammount">
                            <th mat-header-cell *matHeaderCellDef class="max-768-hidden"> MONTO </th>
                            <td mat-cell *matCellDef="let element" class="max-768-hidden">
                                $12568.25
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bill-row"></tr>
        
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                    <mat-paginator [length]="resultsLength" [pageSize]="10" showFirstLastButtons aria-label="paginador"></mat-paginator>              
                </div>
                <!-- Recharge button -->
                <div class="provider-recharge" *ngIf="recharge">
                    <!-- Botón para recargar los datos -->
                    <button mat-raised-button color="accent" (click)="rechargeData()">Recargar los datos</button>
                </div>
                <!-- No providers -->
                <div class="provider-recharge" *ngIf="!resultsLength">
                    <!-- Botón para recargar los datos -->
                    <p>No hay proveedores</p>
                    <a mat-flat-button color="primary" routerLink="../edit-provider">
                        + Agregar Proveedor
                    </a>
                </div>
            </div>
    </div>
</div>
