<!-- Edit provider -->

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Títulos -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3 gap-4 gap-md-0">
      <div class="d-flex flex-column justify-content-center">
          <h4 class="mb-1">Edición de proveedor</h4>
          <p class="mb-0">Creá y editá tus proveedores aquí</p>
      </div>
    </div>
    <!-- List Table -->
    <mat-card class="card card-product editProvider">
      <mat-card-header>
        <mat-card-title>Información del Proveedor</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form  [formGroup]="dataForm" (ngSubmit)="onSubmit()">
          <!-- Nombre del proveedor -->
          <div class="box-info-product">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nombre del Proveedor</mat-label>
              <input matInput 
                    placeholder="Buscá el nombre de tu producto"
                    formControlName="name" 
                    required>
              <mat-error *ngIf="this.dataForm.controls['name']!.errors" class="fs-09">{{getErrorName()}}</mat-error>
            </mat-form-field>
          </div>
          <!-- Phone, whatsapp and email -->
          <div class="row">
            <!-- Phone -->
            <mat-form-field appearance="outline" class="col-12 col-md-4">
              <mat-label>Teléfono</mat-label>
              <input matInput
                      type="number"
                      formControlName="phone">
              <mat-error *ngIf="this.dataForm.controls['phone']!.errors" class="fs-09">{{getErrorPhone()}}</mat-error>
            </mat-form-field>
            <!-- Whatsapp -->
            <mat-form-field appearance="outline" class="col-12 col-md-4">
              <mat-label>Whatsapp</mat-label>
              <input matInput
                      type="number"
                      formControlName="whatsapp" 
                      required>
              <mat-error *ngIf="this.dataForm.controls['whatsapp']!.errors" class="fs-09">{{getErrorWhatsapp()}}</mat-error>
            </mat-form-field>
            <!-- Email -->
            <mat-form-field appearance="outline" class="col-12 col-md-4">
              <mat-label>Email</mat-label>
              <input matInput
                      type="email"
                      formControlName="email"
                      required>
              <mat-error *ngIf="this.dataForm.controls['email']!.errors" class="fs-09">{{getErrorEmail()}}</mat-error>
            </mat-form-field>
          </div>
          <!-- Address and country -->
          <div class="row">
            <!-- Address -->
            <mat-form-field appearance="outline" class="col-12 col-sm-6">
              <mat-label>Dirección</mat-label>
              <input matInput
                      type="text"
                      formControlName="address">
              <mat-error *ngIf="this.dataForm.controls['address']!.errors" class="fs-09">{{getErrorAddress()}}</mat-error>
            </mat-form-field>
            <!-- Country -->
            <mat-form-field appearance="outline" class="col-12 col-sm-6">
              <mat-label>País</mat-label>
              <input matInput
                      type="text"
                      formControlName="country" 
                      required>
              <mat-error *ngIf="this.dataForm.controls['country']!.errors" class="fs-09">{{getErrorCountry()}}</mat-error>
            </mat-form-field>
          </div>
          <!-- Botones de reseteo y confirmación -->
          <div class="submit-btn-box">
            <button mat-stroked-button color="warn" class="me-3" type="button" (click)="resetAll()">
              Reset
            </button>
            <button mat-stroked-button color="primary" type="submit" [disabled]="dataForm.invalid || loading || dataForm.untouched || dataForm.pristine">
              Guardar
            </button>
          </div>
        </form>
      </mat-card-content>
      <mat-card-footer class="login-footer">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
</div>  
