
.options {
    min-width: 380px;
    padding: 15px 25px;
    margin-bottom: 0;
}

.remito {
    width: 210mm;
    height: 297mm;
    padding: 15mm;
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.company-name {
    padding-top: 10px;
    p {
        margin-bottom: 5px;
        padding-left: 5px;
    }
}

.company-info {
    text-align: right;
    p {
        margin-bottom: 5px;
    }
}

.from-to {
    margin-top: 15px;
    padding-bottom: 10px;
    .to {
        p {
            margin-bottom: 5px;
            padding-left: 5px;
        }
    }
}

h2 {
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
}

.products {
    border-top: 2px solid #000;
}

.products table {
    width: 100%;
    margin: 20px 0 20px;
    border-collapse: collapse;
}

.products th, .products td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.products th {
    background-color: #f2f2f2;
}

.products tfoot td {
    font-weight: bold;
}

.column-code {
    width: 20%;
}

.column-quantity {
    width: 10%;
}

.column-description {
    width: auto;
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
}

.signature p {
    margin: 10px 30px 0 0;
}

.notes, .shipment {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    p {
        padding-left: 5px;
    }
}