<div id="snav">
    <div class="user-profile" style="background: url(assets/images/users/user-info.jpg) no-repeat; background-size: cover;">
        <div class="profile-img"> <img [src]="pic" alt="{{ name }}"> </div>
        <div class="profile-text"><span> {{ name }} - {{ role }} </span></div>
    </div>
    <mat-nav-list appAccordion>
        <ng-container *ngIf="setMenu == 'settings'">
            <p class="mat-nav-list-title">
                Configuración
            </p>
            <mat-list-item appAccordionLink *ngFor="let menu of menuItems.getMenuSettings()" routerLinkActive="selected">
                <div class="mat-list-item-content">
                    <a class="fw-400" appAccordionToggle routerLink="{{ menu.state }}">
                        <mat-icon>{{ menu.icon }}</mat-icon> 
                        <span>{{ menu.name }}</span> 
                        <span fxFlex></span>
                    </a> 
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container *ngIf="setMenu == 'init'">
            <ng-container *ngIf="true">
                <p class="mat-nav-list-title">
                    Gestión
                </p>
                <mat-list-item appAccordionLink *ngFor="let menu of menuItems.getMenuManagement()" routerLinkActive="selected">
                    <div class="mat-list-item-content">
                        <a class="fw-400" appAccordionToggle routerLink="{{ menu.state }}">
                            <mat-icon>{{ menu.icon }}</mat-icon> 
                            <span>{{ menu.name }}</span> 
                            <span fxFlex></span>
                        </a> 
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
            <ng-container *ngIf="true">
                <p class="mat-nav-list-title">
                    Operación
                </p>
                <mat-list-item appAccordionLink *ngFor="let menu of menuItems.getMenuOperation()" routerLinkActive="selected">
                    <div class="mat-list-item-content">
                        <a class="fw-400" appAccordionToggle routerLink="{{ menu.state }}">
                            <mat-icon>{{ menu.icon }}</mat-icon> 
                            <span>{{ menu.name }}</span> 
                            <span fxFlex></span>
                        </a> 
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </ng-container>

    </mat-nav-list>
</div>

