<div id="snav">
    <div class="user-profile" style="background: url(assets/images/users/user-info.jpg) no-repeat; background-size: cover;">
        <div class="profile-img"> <img [src]="pic" alt="{{ name }}"> </div>
        <div class="profile-text"><span> {{ name }} - {{ enterprise }} </span></div>
    </div>
    <mat-nav-list appAccordion>
        <ng-container *ngIf="setMenu == 'settings'">
            <p class="mat-nav-list-title">
                Configuración
            </p>
            <ng-container *ngFor="let menu of menuItems.getMenuSettings()">
                <mat-list-item appAccordionLink *ngIf="((!roles.gestion && menu.type == 'admin')||(!is_employee && menu.type == 'employee'))?(false):(true)" routerLinkActive="selected">
                    <div class="mat-list-item-content">
                        <a class="fw-400" appAccordionToggle routerLink="{{ menu.state }}">
                            <mat-icon>{{ menu.icon }}</mat-icon> 
                            <span>{{ menu.name }}</span> 
                            <span fxFlex></span>
                        </a> 
                    </div>
                </mat-list-item>
            </ng-container>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container *ngIf="setMenu == 'init'">
            <mat-accordion>

                <mat-expansion-panel class="submenu" [expanded]="expand === 'gestion'" (opened)="redirectTo('management', 'Tablero')" *ngIf="roles.gestion">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Gestión
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container *ngFor="let menu of menuItems.getMenuManagement()">
                        <mat-list-item class="submenu-1" [class.submenu-1]=" menu.children.length " [routerLinkActive]="(menu.children.length == 0)?'selected':''">
                            <div *ngIf="menu.children.length">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <mat-icon>{{ menu.icon }}</mat-icon> 
                                                <span>{{ menu.name }}</span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                            <mat-list-item appAccordionLink *ngFor="let submenu of menu.children" routerLinkActive="selected">
                                                <div class="mat-list-item-content">
                                                    <a class="fw-400" appAccordionToggle routerLink="{{ submenu.state }}">
                                                        <span>{{ submenu.name }}</span> 
                                                        <span fxFlex></span>
                                                    </a> 
                                                </div>
                                            </mat-list-item>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div *ngIf="menu.children.length == 0" class="mat-list-item-content">
                                <a class="fw-400" appAccordionToggle routerLink="{{ menu.state }}">
                                    <mat-icon>{{ menu.icon }}</mat-icon> 
                                    <span>{{ menu.name }}</span> 
                                    <span fxFlex></span>
                                </a> 
                            </div>
                        </mat-list-item>
                    </ng-container>
                </mat-expansion-panel>

                <mat-expansion-panel class="submenu" [expanded]="expand === 'operacion'" (opened)="redirectTo('operation', 'Tablero')" *ngIf="roles.operacion">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Operación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container *ngFor="let menu of menuItems.getMenuOperation()">
                        <mat-list-item class="submenu-1" [class.submenu-1]=" menu.children.length " [routerLinkActive]="(menu.children.length == 0)?'selected':''">
                            <div *ngIf="menu.children.length">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <mat-icon>{{ menu.icon }}</mat-icon> 
                                                <span>{{ menu.name }}</span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                            <mat-list-item appAccordionLink *ngFor="let submenu of menu.children" routerLinkActive="selected">
                                                <div class="mat-list-item-content">
                                                    <a class="fw-400" appAccordionToggle routerLink="{{ submenu.state }}">
                                                        <mat-icon>{{ submenu.icon }}</mat-icon> 
                                                        <span>{{ submenu.name }}</span> 
                                                        <span fxFlex></span>
                                                    </a> 
                                                </div>
                                            </mat-list-item>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div *ngIf="menu.children.length == 0" class="mat-list-item-content">
                                <a class="fw-400" appAccordionToggle routerLink="{{ menu.state }}">
                                    <mat-icon>{{ menu.icon }}</mat-icon> 
                                    <span>{{ menu.name }}</span> 
                                    <span fxFlex></span>
                                </a> 
                            </div>
                        </mat-list-item>
                    </ng-container>
                </mat-expansion-panel>

                <mat-expansion-panel class="submenu" [expanded]="expand === 'deposito'" (opened)="redirectTo('depo', 'Tablero')" *ngIf="roles.deposito">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Depósito
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container *ngFor="let menu of menuItems.getMenuDepo()">
                        <mat-list-item class="submenu-1" [class.submenu-1]=" menu.children.length " [routerLinkActive]="(menu.children.length == 0)?'selected':''">
                            <div *ngIf="menu.children.length">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <mat-icon>{{ menu.icon }}</mat-icon> 
                                                <span>{{ menu.name }}</span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                            <mat-list-item appAccordionLink *ngFor="let submenu of menu.children" routerLinkActive="selected">
                                                <div class="mat-list-item-content">
                                                    <a class="fw-400" appAccordionToggle routerLink="{{ submenu.state }}">
                                                        <mat-icon>{{ submenu.icon }}</mat-icon> 
                                                        <span>{{ submenu.name }}</span> 
                                                        <span fxFlex></span>
                                                    </a> 
                                                </div>
                                            </mat-list-item>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div *ngIf="menu.children.length == 0" class="mat-list-item-content">
                                <a class="fw-400" appAccordionToggle routerLink="{{ menu.state }}">
                                    <mat-icon>{{ menu.icon }}</mat-icon> 
                                    <span>{{ menu.name }}</span> 
                                    <span fxFlex></span>
                                </a> 
                            </div>
                        </mat-list-item>
                    </ng-container>
                </mat-expansion-panel>

                <mat-expansion-panel class="submenu" [expanded]="expand === 'administracion'" (opened)="redirectTo('administration', 'Tablero')" *ngIf="roles.administracion">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Administración
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container *ngFor="let menu of menuItems.getMenuAdministration()">
                        <mat-list-item class="submenu-1" [class.submenu-1]=" menu.children.length " [routerLinkActive]="(menu.children.length == 0)?'selected':''">
                            <div *ngIf="menu.children.length">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <mat-icon>{{ menu.icon }}</mat-icon> 
                                                <span>{{ menu.name }}</span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                            <mat-list-item appAccordionLink *ngFor="let submenu of menu.children" routerLinkActive="selected">
                                                <div class="mat-list-item-content">
                                                    <a class="fw-400" appAccordionToggle routerLink="{{ submenu.state }}">
                                                        <mat-icon>{{ submenu.icon }}</mat-icon> 
                                                        <span>{{ submenu.name }}</span> 
                                                        <span fxFlex></span>
                                                    </a> 
                                                </div>
                                            </mat-list-item>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div *ngIf="menu.children.length == 0" class="mat-list-item-content">
                                <a class="fw-400" appAccordionToggle routerLink="{{ menu.state }}">
                                    <mat-icon>{{ menu.icon }}</mat-icon> 
                                    <span>{{ menu.name }}</span> 
                                    <span fxFlex></span>
                                </a> 
                            </div>
                        </mat-list-item>
                    </ng-container>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="redirectTo('chat', 'Tablero')">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Chat
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list-item appAccordionLink *ngFor="let menu of menuItems.getMenuChat()" routerLinkActive="selected">
                        <div class="mat-list-item-content">
                            <a class="fw-400" appAccordionToggle routerLink="{{ menu.state }}">
                                <mat-icon>{{ menu.icon }}</mat-icon> 
                                <span>{{ menu.name }}</span> 
                                <span fxFlex></span>
                            </a> 
                        </div>
                    </mat-list-item>
                </mat-expansion-panel>

            </mat-accordion>
        </ng-container>

    </mat-nav-list>
</div>