<!--Componente que edita las observaciones del remito -->

<mat-card class="card card-data">
    <mat-card-header>
        <div class="d-flex justify-content-between w-100">
            <mat-card-title>
            Observaciones
            </mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content>
        <!-- Observations -->
        <div class="mt-4 mb-3">
            <p>{{ (observation)?observation:'No hay observaciones' }}</p>
        </div>
        <!-- edit observations -->
        <div class="mt-3">
            <button mat-stroked-button color="primary" (click)="editObservation(observation)" [disabled]="info.status == 0">
                 Editar Observaciones
            </button>
        </div>
    </mat-card-content>
</mat-card>