<!--Componente que edita los siguientes datos del producto: nombre, sku, categoría, descripción -->

<mat-card class="card card-product addProduct infoProduct">
    <mat-card-header>
      <mat-card-title>Información del Producto</mat-card-title>
    </mat-card-header>
    <!-- Caja que muestra mensajes de advertencia por si no hay categorías u opciones de clasificación creadas -->
    <mat-card-content>
      <!-- cargando... -->
       <ng-container *ngIf="load">
        <div class="d-flex text-center align-items-center">
          <h4>Cargando...</h4>
        </div>
       </ng-container>
      <!-- Formulario que se muestra si existen categorías y las dos opciones creadas -->
      <ng-container *ngIf="categories && !load">
        <form  [formGroup]="dataForm" (ngSubmit)="onSubmit()">
          <!-- Nombre del producto -->
          <div class="box-info-product">
            <mat-form-field appearance="outline" class="w-100" [class.input-product-name]="inputBoxName">
              <mat-label>Nombre del Producto</mat-label>
              <input matInput 
                    placeholder="Buscá el nombre de tu producto" 
                    (blur)="onBlur()" 
                    (focus)="searchAll()" 
                    (keyup)="applyFilter($event)" 
                    #input
                    formControlName="name" 
                    required>       
              <!-- Tabla que muestra los posibles nombres -->  
              <table mat-table [dataSource]="dataSource" *ngIf="inputBoxName">
                  Name Column 
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element;">
                       {{ element.name }}
                    </td>
                  </ng-container>
                  
                  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr>
              </table>
              <mat-error *ngIf="this.dataForm.controls['name']!.errors" class="fs-09">{{getErrorName()}}</mat-error>
            </mat-form-field>
          </div>
          <!-- Categoría, y sku -->
          <div class="row">
            <mat-form-field appearance="outline" class="col-md-6">
              <!-- Filtro de categoría -->
              <mat-label>Categoría</mat-label>
              <mat-select formControlName="category" 
                          required>
                <ng-container *ngFor="let item of categories">
                  <mat-option [value]="item.id"> {{ item.name }} </mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="this.dataForm.controls['category']!.errors" class="fs-09">{{getErrorCategory()}}</mat-error>
            </mat-form-field>
            <!-- SKU del producto -->
            <div class="col-md-6 sku-product-box">
              <div>
                <div class="sku-box-text">
                  <div>
                    <span>SKU: </span>
                    <span class="sku-text">{{ sku }}</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <mat-icon color="primary" *ngIf="exist_sku == 'not'">check_circle_outline</mat-icon>
                    <mat-icon color="warn" *ngIf="exist_sku == 'yes'">error_outline</mat-icon>
                  </div>
                </div>
                <!-- Caja de error de sku -->
                <div class="sku-error fs-09">
                  <span *ngIf="exist_sku == 'yes'">Este producto ya existe</span>
                  <span *ngIf="exist_sku == 'regenerate'">Se debe actualizar el sku</span>
                </div>
              </div>
              <button mat-stroked-button 
                      color="accent" 
                      type="button" 
                      (click)="checkSKU()"
                      class="fs-09"
                      [disabled]="loading">
                Generar SKU
              </button>
            </div>
          </div>
          <!-- Descripción del producto -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Descripción</mat-label>
            <textarea matInput
                      formControlName="description" 
                      required>
            </textarea>
            <mat-error *ngIf="this.dataForm.controls['description']!.errors" class="fs-09">{{getErrorDescription()}}</mat-error>
          </mat-form-field>
          <!-- Botones de reseteo y confirmación -->
          <div class="submit-btn-box">
            <button mat-stroked-button color="warn" class="me-3" type="button" (click)="resetAll()">
              Reset
            </button>
            <button mat-stroked-button 
                    color="primary" 
                    type="submit" 
                    [disabled]="(this.dataForm.status == 'INVALID') || loading || !this.dataForm.dirty || this.dataForm.pristine || this.getSku() !== this.dataForm.controls['sku'].value">
              Guardar
            </button>
          </div>
        </form>
      </ng-container>

      <!-- Vista que muestra si no hay categorías y opciones creadas -->
       <ng-container *ngIf="!categories && !load">
        <!-- Vista que muestra si no hay categorías creadas -->
        <div class="d-flex text-center align-items-center p-4">
          <h4>No se pueden crear productos porque no existen categorías</h4>
        </div>
       </ng-container>
    </mat-card-content>
    <!-- barra de loading -->
    <mat-card-footer class="login-footer">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
