<!--Componente que edita los siguientes datos del producto: nombre, sku, categoría, descripción -->

<mat-card class="card-product addProduct infoProduct">
    <mat-card-header>
      <mat-card-title>Información del Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <!-- Nombre del producto -->
        <div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre del Producto</mat-label>
            <input matInput placeholder="Buscá el nombre de tu producto">
          </mat-form-field>
        </div>
        <!-- Categoría, medida y color del producto -->
        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Categoría</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Medida</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Color</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- SKU del producto -->
        <div class="sku-product-box">
          <mat-form-field appearance="outline">
            <mat-label>SKU</mat-label>
            <input matInput placeholder="Generá un código SKU">
          </mat-form-field>
          <button mat-stroked-button color="accent">
            Generar SKU
          </button>
        </div>
        <!-- Descripción del producto -->
        <div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <!-- Botones de reseteo y confirmación -->
        <div class="product-info-btn-box">
          <button mat-stroked-button color="warn" class="me-3">
            Reset
          </button>
          <button mat-stroked-button color="primary">
            Guardar
          </button>
        </div>
      </form>
    </mat-card-content>
</mat-card>
