<!-- Roles Component -->

<div class="container-xxl flex-grow-1 container-p-y mb-5">
    <!-- Títulos -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-6 gap-4 gap-md-0">
        <div class="d-flex flex-column justify-content-center">
            <h4 class="mb-1">Listado de roles</h4>
            <p class="mb-0">Los roles permiten definir el acceso o restricción de los usuarios a diferentes secciones de la aplicación.</p>
        </div>
    </div>
    <!-- Cards with roles -->
    <div class="row g-4">
        <!-- Cards de roles -->
        <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let card of card_users">
            <mat-card class="card m-0">
                <mat-card-header>
                <div class="box-roles m-b-05r w-100">
                    <h6 class="card-role-title mb-0">Total {{ card['user'].length }} usuarios</h6>
                    <ul class="card-role-list">
                        <ng-container *ngFor="let user of card.user, let i = index">
                            <li *ngIf="i < 3" [ngStyle]="{'margin-left':(i == 0?'0':'-0.65rem') }" [style.z-index]="card['user'].length - i">
                                <button
                                    mat-icon-button
                                    matTooltip={{user.name_employee}}
                                    matTooltipPosition=above
                                    class="btn-header-login p-1"
                                    style="background-color: #fff;"
                                > <img class="profile-pic-icon card-role-img" [src]="source + user.thumbnail" alt="avatar">
                                </button>
                            </li>
                        </ng-container>
                            <li class="card-role-list-li" *ngIf="card['user'].length > 3 || card['user'].length == 0">
                                <button
                                    mat-icon-button
                                    matTooltip="{{ (card['user'].length > 3)?( '+ ' + (card['user'].length - 3)):0 }}"
                                    matTooltipPosition=above
                                    class="btn-header-login p-1"
                                    style="background-color: #fff;"
                                > <p>{{ (card['user'].length > 3)?( '+ ' + (card['user'].length - 3)):0 }}</p>
                                </button>
                            </li>
                    </ul>
                </div>
                </mat-card-header>
                <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <h3 class="mb-0" style="text-transform: capitalize;">{{ card.name_role }}</h3>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <button 
                            mat-icon-button color="primary" 
                            (click)="openEditRoleDialog(card.id, card.name_role, card.icon_role, 'edit')"
                            matTooltip="Editar rol"
                            matTooltipPosition=above
                            ><mat-icon>edit</mat-icon>
                        </button>
                        <button 
                            mat-icon-button color="primary" 
                            (click)="openEditRoleDialog(card.id, card.name_role, card.icon_role, 'delete')"
                            matTooltip="Eliminar rol"
                            matTooltipPosition=above 
                            [disabled]="card['user'].length > 0"
                            ><mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Card para crear roles -->
        <div class="col-xl-4 col-lg-6 col-md-6">
            <mat-card class="card m-0 h-100">
                <div class="box-roles p-20 h-100">
                    <div class="box-role-create">
                        <button mat-raised-button color="primary"  (click)="openCreateRoleDialog()">Crear Rol</button>
                        <h5 class="mb-0 mt-2 text-center">Crea un rol si no existe</h5>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<!-- List of users title -->

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Títulos -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-6 gap-4 gap-md-0">
        <div class="d-flex flex-column justify-content-center">
            <h4 class="mb-1">Listado de usuarios</h4>
            <p class="mb-0">El listado de usuarios que pertenecen a tu empresa. Gestionalos desde este listado.</p>
        </div>
    </div>
    <!-- Table of users -->
    <mat-card class="card mb-2">
        <mat-card-content class="mat-card-content">
            <!-- Loader -->
            <div class="loader" *ngIf="load">
                <p>Cargando...</p>
            </div>
            <!-- Table of storages -->
            <div class="box-table">
                <mat-form-field  class="bill-filter-input" appearance="outline">
                    <mat-label>Filtrar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Escribe algo aquí" #input>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource"  *ngIf="dataSource">
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="user">
                      <th mat-header-cell *matHeaderCellDef> Usuario </th>
                      <td mat-cell *matCellDef="let element">
                        <div class="table-column">
                            <div class="pic-profile max-1150-hidden">
                                <div>
                                    <img [src]="source + element.thumbnail" [alt]="element.email">
                                </div>
                            </div>
                            <div class="text">
                                <h5>{{ (element.name_employee)?element.name_employee:element.email.split("@")[0] }}</h5>
                            </div>
                        </div>
                      </td>
                    </ng-container>
                  
                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef class="max-1400-hidden"> Email </th>
                      <td mat-cell *matCellDef="let element" class="max-1400-hidden">
                        <h5 class="text-muted mb-0">{{element.email}} </h5>
                      </td>
                    </ng-container>
                  
                    <!-- Role Column -->
                    <ng-container matColumnDef="role">
                      <th mat-header-cell *matHeaderCellDef class="max-768-hidden"> Rol </th>
                      <td mat-cell *matCellDef="let element" class="max-768-hidden">
                            <h5 class="mb-0 fs-09 d-flex align-items-center">
                                <mat-icon class="me-1" color="primary" [matTooltip]=element.role matTooltipPosition=above>{{ element.icon_role }}</mat-icon>
                                <span>{{ element.role }}</span>
                            </h5>
                      </td>
                    </ng-container>
        
                    <!-- Verified email Column -->
                    <ng-container matColumnDef="verified">
                        <th mat-header-cell *matHeaderCellDef> Verificado </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-chip class="cap font-14 fw-500" 
                                    [style]="{'background-color':element.verified_state == 1?'rgb(230, 247, 217)':'rgb(255, 196, 189)' }"
                                    >
                                    <span class="max-1024-hidden" [style]="{'color':element.verified_state == 1?'rgb(86, 202, 0)':'rgb(255, 87, 51)'}">{{ (element.verified_state)?'Verificado':'No verificado' }}</span>
                                    <mat-icon [color]="element.verified_state == 1?'primary':'warn'" class="min-1024-hidden" style="position: relative; top: 3px;">{{ element.verified_state == 1?'check':'close' }}</mat-icon>
                            </mat-chip>
                        </td>
                      </ng-container>
                  
                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Estado </th>
                      <td mat-cell *matCellDef="let element">
                            <mat-chip class="cap font-14 fw-500" 
                                  [style]="{'background-color':element.state_employee == 1?'rgb(230, 247, 217)':'rgb(237, 238, 239)'}">
                                  <span class="max-1024-hidden" [style]="{'color':element.state_employee == 1?'rgb(86, 202, 0)':'rgb(138, 141, 147)'}">{{ (element.state_employee)?'Activo':'Inactivo' }}</span>
                                  <mat-icon [color]="element.state_employee == 1?'primary':'accent'" class="min-1024-hidden" style="position: relative; top: 3px;">{{ element.state_employee == 1?'check_circle_outline':'remove_circle_outline' }}</mat-icon>
                            </mat-chip>
                      </td>
                    </ng-container>
        
                    <!-- Detail Column -->
                    <ng-container matColumnDef="view">
                        <th mat-header-cell *matHeaderCellDef> Detalles </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="openView(element.id_user, element.id_employee, element.id_enterprise)">
                                <mat-icon style="position: relative; bottom: 2px;">
                                    <mat-icon class="badge-icon" *ngIf="element.state_employee == null || element.role == null">brightness_1</mat-icon>
                                    visibility
                                </mat-icon>
                            </button>
                        </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bill-row"></tr>
        
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Búsqueda sin resultados para "{{input.value}}"</td>
                    </tr>
                </table>              
            </div>
            <!-- Recharge button -->
            <div class="recharge" *ngIf="recharge">
                <!-- Botón para recargar los datos -->
                <button mat-raised-button color="accent" (click)="rechargeData()">Recargar los datos</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<!-- / Content -->
