<!-- Greeting Card -->
<mat-card class="card mb-6" 
        [ngStyle]="img ? {
          'background-image': 'url(' + img.urls.regular + ')', 
          'background-size': 'cover', 
          'background-position': 'center', 
          'height': '345px'
        } : {}">
  <mat-card-content class="h-100">
    <div class="d-flex flex-column justify-content-end h-100">
      <h3 class="rounded fw-500" style="background-color: rgba(255, 255, 255, 0.75); padding: 0.25rem .5rem;">
        <span>{{ day?day:'Buenas' }}</span>, <span class="cap">{{ name?name:'' }}!</span>
        <span class="d-block fs-09 text-muted">Hagamos algunas cosas increíbles!</span>
      </h3>
      <p class="w-100 text-right mb-0 fs-07 fw-300" style="color: #fff">
        Imagen de <a [href]="img?img.user.links.html:''" target="_blank">{{ img?img.user.name:'' }}</a> por <a href="https://unsplash.com" target="_blank">Unsplash</a>
      </p>
    </div>
  </mat-card-content>
  <div *ngIf="!img" class="fs-09 text-muted">Cargando imagen...</div> <!-- Indicador de carga -->
</mat-card>