<!-- List of providers -->

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    
    <div class="row g-6 mb-0">
        <div class="col-sm-6 col-xl-3 mb-2">
            <div class="card" style="border-bottom: 3px solid rgb(108, 248, 108);">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="me-1">
                            <p class="text-heading mb-1">Ultimo mes</p>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-1 me-2">0</h4>
                                <p class="text-success mb-1">(0%)</p>
                            </div>
                            <small class="mb-0">Proveedores nuevos</small>
                        </div>
                        <div class="avatar">
                            <span class="avatar-initial rounded text-heading" style="background-color: rgb(108, 248, 108);">
                                <span class="material-symbols-outlined">inventory</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-2">
            <div class="card" style="border-bottom: 3px solid rgb(228, 81, 81);">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="me-1">
                            <p class="text-heading mb-1">Total en $</p>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-1 me-2">$0.00</h4>
                            </div>
                            <small class="mb-0">Deuda con proveedores</small>
                        </div>
                        <div class="avatar">
                            <span class="avatar-initial rounded text-heading" style="background-color: rgb(228, 81, 81);">
                                <span class="material-symbols-outlined">inventory</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>                  
        <div class="col-sm-6 col-xl-3 mb-2">
            <div class="card" style="border-bottom: 3px solid rgb(86, 86, 235);">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="me-1">
                            <p class="text-heading mb-1">Total en $</p>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-1 me-2">$0.00</h4>
                            </div>
                            <small class="mb-0">Entregas pendientes</small>
                        </div>
                        <div class="avatar">
                            <span class="avatar-initial rounded text-heading" style="background-color: rgb(86, 86, 235);">
                                <span class="material-symbols-outlined">inventory</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-2">
            <div class="card" style="border-bottom: 3px solid rgb(231, 234, 33);">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="me-1">
                            <p class="text-heading mb-1">Unidades</p>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-1 me-2">0</h4>
                                <p class="text-success mb-1">(0%)</p>
                            </div>
                            <small class="mb-0">Cantidad de devoluciones</small>
                        </div>
                        <div class="avatar">
                            <span class="avatar-initial rounded text-heading" style="background-color: rgb(231, 234, 33);">
                                <span class="material-symbols-outlined">inventory</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product List Table -->
    <mat-card class="card mb-2">
        <mat-card-content class="mat-card-content">
            <!-- Loader -->
            <div class="loader" *ngIf="load">
                <p>Cargando...</p>
            </div>
            <!-- Table of providers -->
            <div class="box-list" *ngIf="!recharge && resultsLength">
                <div class="d-flex justify-content-between">
                    <mat-form-field appearance="outline">
                        <mat-label>Filtrar</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar un proveedor" #input>
                    </mat-form-field>
                    <a mat-flat-button color="primary" routerLink="../provider-edit">
                        + <span class="max-500-hidden">Agregar</span> Proveedor
                    </a>
                </div>
                <table mat-table [dataSource]="dataSource" class="mt-1" matSort>
                
                    <!-- detail Column -->
                    <ng-container matColumnDef="detail">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="detailProvider(element.id)">
                                <mat-icon style="position: relative; bottom: 2px;">add_circle_outline</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <!-- provider Column -->
                    <ng-container matColumnDef="provider">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> PROVEEDOR </th>
                        <td mat-cell *matCellDef="let element"> 
                            <!-- código de la columna proveedor que muestra el nombre del proveedor -->
                            <p class="mb-0 fs-11 fw-500">{{ element.name }}</p>
                        </td>
                    </ng-container>

                    <!-- phone Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef class="max-1280-hidden"> TELEFONO </th>
                        <td mat-cell *matCellDef="let element" class="max-1280-hidden">
                            <!-- código que muestra el teléfono del proveedor -->
                            <p class="mb-0 fs-16">{{ element.phone }}</p>
                        </td>
                    </ng-container>

                    <!-- whatsapp Column -->
                    <ng-container matColumnDef="whatsapp">
                        <th mat-header-cell *matHeaderCellDef class="max-768-hidden"> WHATSAPP </th>
                        <td mat-cell *matCellDef="let element" class="max-768-hidden">
                            <!-- código que muestra el whatsapp del proveedor -->
                            <button mat-icon-button 
                                    color="primary" 
                                    (click)="openDialogWhatsapp(element.whatsapp)"
                                    matTooltip="Enviar un mensaje"
                                    [disabled]="element.whatsapp == ''">
                                <mat-icon style="position: relative; bottom: 2px;">phone_iphone</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <!-- email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="max-1024-hidden"> EMAIL </th>
                        <td mat-cell *matCellDef="let element" class="max-1024-hidden">
                            <!-- código que muestra el email del proveedor -->
                            <p class="mb-0 fs-16">{{ element.email }}</p>
                        </td>
                    </ng-container>
                
                    <!-- address Column -->
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-1400-hidden"> DIRECCION </th>
                        <td mat-cell *matCellDef="let element" class="max-1400-hidden">
                            <!-- código que muestra la dirección del proveedor -->
                            <p class="mb-0 fs-16">{{ element.address }}</p>
                        </td>
                    </ng-container>
    
                    <!-- country column -->
                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-600-hidden"> PAIS </th>
                        <td mat-cell *matCellDef="let element" class="max-600-hidden">
                            <!-- código que muestra el país del proveedor -->
                            {{ element.country }}
                        </td>
                    </ng-container>

                    <!-- edit Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> EDITAR </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- botón que permite editar el proveedor -->
                            <button mat-icon-button color="primary" (click)="editProvider(element.id)">
                                <mat-icon style="position: relative; bottom: 2px;">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bill-row"></tr>
    
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Búsqueda sin resultados para "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator class="m-t-15" [length]="resultsLength" [pageSize]="10" showFirstLastButtons aria-label="paginador"></mat-paginator>              
            </div>
            <!-- Recharge button -->
            <div class="recharge" *ngIf="recharge">
                <!-- Botón para recargar los datos -->
                <button mat-raised-button color="accent" (click)="rechargeData()">Recargar los datos</button>
            </div>
            <!-- No providers -->
            <div class="recharge" *ngIf="!resultsLength">
                <!-- Botón para recargar los datos -->
                <p>No hay proveedores</p>
                <a mat-flat-button color="primary" routerLink="../edit-provider">
                    + Agregar Proveedor
                </a>
            </div>
        </mat-card-content>
    </mat-card>

</div>
<!-- / Content -->