<!-- Payment plans -->

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <mat-card class="card">
    <mat-card-content>
      <!-- Título -->
        <h3 class="text-center mb-2 mt-0 mt-md-4">Precio de los planes</h3>
        <!-- Subtítulo -->
        <p class="text-center mb-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae atque deserunt, veniam distinctio ipsa ab repellendus, officiis porro amet vel nemo suscipit. Ducimus vel qui distinctio nobis quae perspiciatis temporibus!
        </p>
        <!-- Radio button mensual/anual -->
        <div class="d-flex aling-items-center justify-content-center flex-wrap gap-2 pt-5 mb-6">
          <!-- Radio-button -->
        </div>
        <!-- Cards con opciones comerciales -->
        <div class="row mx-4 gy-3 px-lg-12">
          <!-- Basic -->
          <div class="col-lg mb-lg-0 mb-3">
            <div class="card border rounded shadow-none">
              <div class="p-2 pt-6">
                <!-- Imagen -->
                <div class="mb-3 mt-5 text-center">
                  <img src="" height="100" alt="">
                </div>
                <h4></h4>
                <p></p>
                <div></div>
                <ul></ul>
                <a href=""></a>
              </div>
            </div>
          </div>
          <!-- Standard -->
          <div class="col-lg mb-lg-0 mb-3"></div>
          <!-- Enterprise -->
          <div class="col-lg"></div>
        </div>
    </mat-card-content>
</mat-card>
</div>