<div class="login-register">
    <div class="login-register-box">
        <mat-card class="mat-card">
            <mat-card-content class="mat-card-content">
                <form >
                    <div class="text-center">
                        <img src="assets/images/logo-icon.png" alt="homepage">
                        <h4 class="m-t-0 mb-4">Recuperá tu cuenta</h4>
                    </div>
                    <div class="form-auth">
                        <div class="form-input-100">
                            <mat-form-field appearance="fill">
                                <mat-label>Ingresá tu correo</mat-label>
                                <input matInput placeholder="algo@ejemplo.com" required>
                                <!-- <input matInput placeholder="pat@example.com" [formControl]="email" required> -->
                                <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>  -->
                              </mat-form-field>
                        </div>
                        <div class="form-input-100">
                            <mat-form-field appearance="fill">
                                <mat-label>Ingresá una contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="form-input-100">
                            <mat-form-field appearance="fill">
                                <mat-label>Confirmá tu contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="form-input-100">
                            <mat-form-field hintLabel="Max 10 caracteres" appearance="fill">
                                <mat-label>Ingresá el código alfanumérico</mat-label>
                                <input matInput #input maxlength="10" required>
                                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-input-100 mt-3">
                            <button mat-raised-button color="primary" [disabled]="false">Recuperar mi cuenta</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>          
    </div>
</div>
