<mat-card class="mat-card card-image">
    <mat-card-content class="mat-card-content">
        <a mat-icon-button class="close-card" routerLink="../index" aria-label="close-button">
            <mat-icon>close</mat-icon>
        </a>
        <mat-card-title class="mat-card-title">
            Contraseña
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">
            Editá tu contraseña de acceso
        </mat-card-subtitle>
        <div>
            <div class="user-password-container">
                <form [formGroup]="checkPassword" (ngSubmit)="onSubmitChecker()">
                    <div class="user-data-input">
                        <mat-form-field appearance="fill">
                            <mat-label>Contraseña actual</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'"
                                    formControlName="password"
                                    type="password" 
                                    required
                                    (focus)="clean_btn_verify()">
                                    <button mat-icon-button matSuffix (click)="hidePassword($event)" >
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <button mat-mini-fab matSuffix (click)="onSubmitChecker()" [color]="color" [disabled]="btn_verify_pass">
                                        <mat-icon>{{ icon }}</mat-icon> <!-- search / check / close -->
                                    </button>
                            <mat-error *ngIf="this.checkPassword.controls['password']!.errors">{{getPasswordCheckErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <form [formGroup]="userDataForm" (ngSubmit)="onSubmitUser()">
                    <div class="user-data-input">
                        <mat-form-field appearance="fill">
                            <mat-label>Nueva contraseña</mat-label>
                            <input matInput [type]="hide_1 ? 'password' : 'text'"
                                    [formControl]="passwordFirst"
                                    type="password" 
                                    required>
                                    <button mat-icon-button matSuffix (click)="hide1Password($event)" >
                                        <mat-icon>{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="this.passwordFirst.errors">{{getPasswordErrorMessageFirst()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="user-data-input">
                        <mat-form-field appearance="fill">
                            <mat-label>Reingresa nueva contraseña</mat-label>
                            <input matInput [type]="hide_2 ? 'password' : 'text'"
                                    formControlName="password"
                                    type="password" 
                                    required>
                                    <button mat-icon-button matSuffix (click)="hide2Password($event)" >
                                        <mat-icon>{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                            <mat-error *ngIf="this.userDataForm.controls['password']!.errors">{{getPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="user-data-input">
                        <button mat-raised-button color="primary" type="submit" [disabled]="userDataForm.invalid || !this.userDataForm.controls['password'].value.length || this.disable_submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="login-footer">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
