<mat-card class="mat-card card-image">
    <mat-card-content class="mat-card-content">
        <a mat-icon-button class="close-card" routerLink="../index" aria-label="close-button">
            <mat-icon>close</mat-icon>
        </a>
        <mat-card-title class="mat-card-title">
            Eliminar cuenta
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">
            Seguí los pasos para dar de baja tu cuenta en Bamboo
        </mat-card-subtitle>
        <div>
            
        </div>
    </mat-card-content>
    <mat-card-footer class="login-footer">
        <mat-progress-bar mode="indeterminate" *ngIf="false"></mat-progress-bar>
    </mat-card-footer>
</mat-card>