<!-- Detail enterprise -->

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y row">
    <!-- Caja que contiene imagen, indicadores básicos y detalles -->
    <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0" *ngIf="!load">
        <div class="card mb-6">
            <div class="card-body pt-12">
                <!-- caja de la imagen -->
                <div class="d-flex align-items-center flex-column">
                    <img [src]="baseURL + enterprise.thumbnail" alt="Enterprise image" class="img-fluid rounded mb-3" width="120" height="120">
                    <div class="text-center mb-3">
                        <h4 class="mb-0">{{ enterprise.name || 'Sin información' }}</h4>
                        <span class="fs-09 text-muted">CUIT #<span>{{ enterprise.cuit || '' }}</span></span>
                    </div>
                </div>
                <!-- caja con indicadores básicos y el nombre -->
                <div class="d-flex justify-content-center flex-wrap mb-6 gap-0 gap-md-3 gap-lg-4">
                    <div class="d-flex align-items-center gap-3">
                        <div class="avatar">
                            <span class="avatar-initial rounded text-heading primary-badge">
                                <span class="material-symbols-outlined">outlined_flag</span>
                            </span>
                        </div>
                        <div>
                            <h5 class="mb-0">{{ enterprise.created || '' | date:'dd/MM/yyyy' }}</h5>
                            <span class="text-muted fs-08">Fecha inicio actividades</span>
                        </div>
                    </div>
                </div>
                <!-- caja con información básica -->
                <div>
                    <h5 class="border-bottom text-capitalize pb-3 mt-4 mb-3">detalles</h5>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-2">
                            <span class="h6 me-1">Email: </span>
                            <span>{{ enterprise.email || 'Sin información' }}</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">Teléfono 1: </span>
                            <span>{{ enterprise.phone_1 || 'Sin información' }}</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">Teléfono 2: </span>
                            <span>{{ enterprise.phone_2 || 'Sin información' }}</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">Dirección: </span>
                            <span>{{ enterprise.address || 'Sin información' }}</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">Ciudad: </span>
                            <span>{{ enterprise.city || 'Sin información' }}</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">Provincia: </span>
                            <span>{{ enterprise.state || 'Sin información' }}</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">País: </span>
                            <span>{{ enterprise.country || 'Sin información' }}</span>
                        </li>
                        <li class="mb-2">
                            <span class="h6 me-1">Código Postal: </span>
                            <span>{{ enterprise.cp || 'Sin información' }}</span>
                        </li>
                    </ul>
                </div>
                <!-- Caja con botón para editar información -->
                 <div class="d-flex justify-content-center">
                    <button mat-flat-button color="primary" class="w-100" (click)="editEnterprise()">
                        <mat-icon style="position: relative; bottom: 2px;">edit</mat-icon>
                        Editar detalles
                    </button>
                 </div>
            </div>
        </div>
    </div>
    <!-- Caja que contiene información de las operaciones -->
    <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
        <!-- Tabs para ver otras opciones -->
        <div class="nav-align-tab mb-3" *ngIf="false">
            <ul class="nav nav-pills flex-column flex-md-row mb-6 row-gap-2">
                <li class="nav-item me-3" *ngFor="let item of tabs, let i = index">
                    <button class="nav-link" [ngClass]="item.state" mat-button color="primary" (click)="setTab(i)">
                        <mat-icon style="position: relative; bottom: 2px;">{{ item.icon }}</mat-icon>
                        {{ item.name }}
                    </button>
                </li>
            </ul>
        </div>
        <!-- Caja de Descripción -->
        <div class="row text-nowrap" *ngIf="tabs[0].state == 'active'">
            <!-- cards individuales -->
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body pb-0">
                        <div class="card-icon mb-3">
                            <div class="avatar">
                                <span class="avatar-initial rounded text-heading primary-badge">
                                    <span class="material-symbols-outlined">paid</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-info">
                            <h5 class="card-title mb-3">Total de ventas</h5>
                            <div class="d-flex align-items-baseline gap-1">
                                <h5 class="text-primary mb-1 ms-1">${{ card_values.total_sale || 0 }}</h5>
                            </div>
                            <p class="mb-0 text-truncate">Ingreso por ventas en el último mes</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body pb-0">
                        <div class="card-icon mb-3">
                            <div class="avatar">
                                <span class="avatar-initial rounded text-heading primary-badge">
                                    <span class="material-symbols-outlined">move_to_inbox</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-info">
                            <h5 class="card-title mb-3">Ingresos pendientes</h5>
                            <div class="d-flex align-items-baseline gap-1">
                                <h5 class="text-primary mb-1 ms-1">${{ card_values.pending || 0 }}</h5>
                            </div>
                            <p class="mb-0 text-truncate">Valor total de las ventas no facturadas</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body pb-0">
                        <div class="card-icon mb-3">
                            <div class="avatar">
                                <span class="avatar-initial rounded text-heading primary-badge">
                                    <span class="material-symbols-outlined">inventory_2</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-info">
                            <h5 class="card-title mb-3">Valor del stock</h5>
                            <div class="d-flex align-items-baseline gap-1">
                                <h5 class="text-primary mb-1 ms-1">${{ card_values.total_stock || 0 }}</h5>
                            </div>
                            <p class="mb-0 text-truncate">Valor total de todo el stock</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body pb-0">
                        <div class="card-icon mb-3">
                            <div class="avatar">
                                <span class="avatar-initial rounded text-heading primary-badge">
                                    <span class="material-symbols-outlined">group</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-info">
                            <h5 class="card-title mb-3">Nuestro equipo</h5>
                            <div class="d-flex align-items-baseline gap-1">
                                <h5 class="text-primary mb-1 ms-1">{{ card_values.total_employees || 0 }}</h5>
                            </div>
                            <p class="mb-0 text-truncate">Total de colaboradores</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
