<mat-card class="mat-card dialog-detail">
    <mat-card-content class="mat-card-content">
        <a mat-icon-button class="close-card" routerLink="#" aria-label="close-button" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </a>
    
        <!-- Loader -->
        <div class="p-4" *ngIf="load">
            Cargando...
        </div>
    
        <!-- Box principal -->
        <div class="row card-content" *ngIf="!load">
            <!-- Caja imagen -->
            <div class="col-md-5 image-container">
                <img class="product-image" [src]="product?(baseURL + product.image):''" [alt]="product?product.name:'product image'">
            </div>
    
            <!-- Caja de texto -->
            <div class="col-md-7 text-container">
                <p class="product-name">{{ product?product.name:'Sin información' }}</p>
                
                <div class="status-container d-flex justify-content-start">
                    <p class="status mb-0 fw-500 cap" [ngClass]="((product?product.state:'inactivo') == 'activo')?'bg-label-success':'bg-label-danger'">
                        {{ product?product.state:'Inactivo' }}
                    </p>
                    <p class="status mb-0 fw-500 cap" [ngStyle]="getStatusCategory(product?product.category_color:'')">
                        {{ product?product.category_item:'Sin Categoría' }}
                    </p>
                    <p class="status mb-0 fw-500 cap" [ngClass]="((product?product.is_stock:'sin stock') == 'con stock')?'bg-label-success':'bg-label-danger'">
                        {{ product?product.is_stock:'Inactivo' }}
                    </p>
                </div>
    
                <div class="description">
                    <h6>{{ product?product.description:'Sin Descripción' }}</h6>
                </div>
                <ul class="list-unstyled ps-1 mb-1">
                    <li class="mb-2">
                        <span class="h6 me-1 fs-08">SKU: </span>
                        <span>{{ product?product.sku:'Sin información' }}</span>
                    </li>
                    <li class="mb-2">
                        <span class="h6 me-1 fs-08">Stock físico/disponible: </span>
                        <span>
                            {{ product?product.stock_real:0 + ' unidades' }}/
                            {{ product?product.stock_available:0 + ' unidades' }}
                        </span>
                    </li>
                    <li class="mb-2">
                        <span class="h6 me-1 fs-08">Ubicación: </span>
                        <span>{{ product?product.storage_name:'Sin información' }}</span>
                    </li>
                </ul>
                <div class="status-container d-flex justify-content-start">
                    <p class="status mb-0 fw-500 cap" style="border: 2px solid rgb(126, 124, 124);">
                        {{ product?product.sku:'Sin información' }}
                    </p>
                    <p class="status mb-0 fw-500 cap" style="border: 2px solid rgb(126, 124, 124);">
                        {{ product?product.stock_real:0 + ' unidades' }}
                    </p>
                    <p class="status mb-0 fw-500 cap" style="border: 2px solid rgb(126, 124, 124);">
                        {{ product?product.storage_name:'Sin información' }}
                    </p>
                </div>
                <h2 class="fw-700 black-color mb-0">${{ product?product.sale_price:0.00 }}</h2>
            </div>
        </div>
    </mat-card-content>
  </mat-card>
  