
::ng-deep .cdk-overlay-pane {
    max-width: 100% !important;
    padding: 0 10px;
    overflow-y: auto;
}

.close-card {
    z-index: 10;
}

::ng-deep .mat-expansion-panel-content{
    width: 100%!important;
}


.dialog-detail {
    margin: 0;
    max-width: 768px;
    .card-content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
  
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      @media (min-width: 769px) {
        margin-bottom: 0;
      }
    }
  
    .product-image {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 8px;
    }
  
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .product-name {
      font-size: 1.4rem;
      padding: 5px 0;
      font-weight: 500;
      margin-bottom: 10px;
    }
  
    .status-container {
      margin-bottom: 10px;
  
      .status {
        margin-right: 10px;
        border-radius: 5px;
        padding: 2px 10px;
        font-size: 0.8rem;
        height: fit-content;
        border: 2px solid rgb(126, 124, 124);
      }
    }
  
    .description {
      margin: 5px 0;
      h6 {
        font-size: 1rem;
      }
    }
}