
.card-data {
    mat-card-content {
        padding-bottom: 15px;
        padding-top: 15px;
        .data-column {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .text-data {
                display: flex;
                flex-direction: column;
                .name-data {
                    --bs-text-opacity: 1;
                    color: #3d3d3e !important;
                    white-space: nowrap !important;
                    font-weight: 500 !important;
                }
                .description-data {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .text-data-box {
                min-width: 150px;
                max-width: 300px;
            }
        }
    }
}

.mat-mdc-form-field-subscript-wrapper {
    display: none!important;
}