<!--Componente que edita los artículos del remito -->

<mat-card class="card card-data">
    <mat-card-header>
      <div class="d-flex justify-content-between w-100">
        <mat-card-title>
          Detalle del remito
        </mat-card-title>
        <p style="position: relative; right: 0;"><mat-slide-toggle [(ngModel)]="edit">Editar</mat-slide-toggle></p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <!-- cargando... -->
      <div class="d-flex justify-content-center p-2" *ngIf="load">
        <h4>Cargando...</h4>
      </div>
      <!-- Table of orders -->
      <div *ngIf="dataSource.data.length">
          <table mat-table [dataSource]="dataSource" class="mt-1">
          
              <!-- ID Column -->
              <ng-container matColumnDef="sku">
                  <th mat-header-cell *matHeaderCellDef class="text-muted fs-08 fw-400 max-500-hidden">sku</th>
                  <td mat-cell *matCellDef="let element" class="max-500-hidden">
                      <p class="mb-0 text-muted fs-09">{{ element.sku }}</p>
                  </td>
              </ng-container>

              <!-- product Column -->
              <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef class="text-muted fs-08 fw-400"> PRODUCTO </th>
                <td mat-cell *matCellDef="let element">
                    <div class="data-column">
                        <div class="text-data text-data-box">
                            <span class="name-data">
                                {{ element.name || 'Sin información' }}
                            </span>
                            <small class="description-product fs-08 text-muted max-1150-hidden" matTooltip="{{ element.description }}" matTooltipPosition="above">
                                {{ element.description || 'Sin información' }}
                            </small>
                            <small class="description-product text-muted max-1150-hidden">
                              <span class="fs-08">Color: 
                                  <span class="material-icons fs-09" [style.color]="element.option_1" style="position: relative; top: 3px;">
                                    square
                                  </span>
                              </span>
                              <span class="ms-2 fs-08">{{ this._auth.getOptionName2() || 'Opción 2' }}: </span><span class="fw-500">{{ element.option_2 }}</span>
                          </small>
                        </div>
                    </div>
                </td>
              </ng-container>

              <!-- qty column -->
              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef class="text-muted fs-08 fw-400"> CANTIDAD </th>
                <td mat-cell *matCellDef="let element">
                    <p class="mb-0 ms-4">{{ element.qty || 0 }}</p>
                </td>
              </ng-container>

              <!-- status column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="text-muted fs-08 fw-400"> ESTADO </th>
                <td mat-cell *matCellDef="let element">
                  <span class="badge rounded-pill cap fs-07"
                        [style.color]="getStatus(element.status)?.color"
                        [style.background-color]="getStatus(element.status)?.bgColor">
                    {{ getStatus(element.status)?.status }}
                  </span>
                </td>
              </ng-container>

              <!-- edit Column -->
              <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element; let i = index;">
                      <button mat-icon-button color="primary" (click)="addProduct(element.id_product, this.dataSource.data[i].qty)" [disabled]="!edit">
                          <mat-icon style="position: relative; bottom: 2px;">edit</mat-icon>
                      </button>
                  </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bill-row"></tr>
          </table>            
      </div>
      <!-- Recharge button -->
      <div class="recharge" *ngIf="recharge">
          <!-- Botón para recargar los datos -->
          <button mat-raised-button color="accent" (click)="rechargeData()">Recargar los datos</button>
      </div>
      <!-- No products -->
      <div class="d-flex justify-content-center align-items-center p-4" *ngIf="!dataSource.data.length">
        <h4>Todavía no agregaste ningún producto</h4>
      </div>
      <!-- new products -->
      <div class="d-flex justify-content-between mt-4 mb-3" *ngIf="edit">
        <button mat-stroked-button color="accent" type="button" (click)="addProduct()">
          + Agregar producto
        </button>
        <div class="d-flex justify-content-end">
          <button mat-stroked-button color="warn" class="me-3" type="button" (click)="rechargeData()">
            Reset
          </button>
          <button mat-stroked-button color="primary" type="submit" (click)="onSubmit()" [disabled]="dataForm.invalid || loading">
            Guardar
          </button>
        </div>
      </div>
      <!-- footer -->
      <div class="b-t pt-3 pb-2">
        <span class="text-muted fs-09">Total de items:  </span>
        <span class="fw-500">{{ this.dataSource.data.length }}</span>
      </div>
    </mat-card-content>
    <!-- Caja que muestra un texto de "Cargando..." y luego el listado -->
    <mat-card-footer class="login-footer">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
