
.card-data {
    mat-card-content {
        padding-bottom: 15px;
        padding-top: 15px;
        .data-column {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .image-data {
                border-radius: 50%;
                background-color: #ecedee !important;
                color: #8a8d93 !important;
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(228, 224, 224);
                    color: #767575;
                    border-radius: 50%;
                }
            }
            .text-data {
                display: flex;
                flex-direction: column;
                .name-data {
                    --bs-text-opacity: 1;
                    color: #3d3d3e !important;
                    white-space: nowrap !important;
                    font-weight: 500 !important;
                }
                .description-data {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .text-data-box {
                min-width: 150px;
                max-width: 300px;
            }
        }
        .recharge {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 100%;
            padding: 20px 0 10px;
            p {
                align-items: center;
                margin-bottom: 10px;
            }
        }
    }
}
