<!-- Edit working hours -->

<!-- Card edit working hours -->
<mat-card class="card card-user editWorkingHours">
    <mat-card-header>
        <mat-card-title>Horario de trabajo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
            <div formGroupName="work_hour">
                <!-- Monday -->
                <div class="work-hour mb-1" formGroupName="monday">
                    <div class="work-hour-day">
                        <mat-checkbox (change)="enableRange($event, 'monday_in')">Lunes</mat-checkbox>
                    </div>
                    <div class="work-hour-range">
                        <mat-form-field appearance="outline">
                            <mat-label>Entrada</mat-label>
                            <mat-select formControlName="monday_in" (valueChange)="enableRange($event, 'monday_out')">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Salida</mat-label>
                            <mat-select formControlName="monday_out">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this.dataForm.get('work_hour.monday.monday_out')!.errors">{{err_out()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Tuesday -->
                <div class="work-hour mb-1">
                    <div class="work-hour-day">
                        <mat-checkbox (change)="enableRange($event, 'tuesday_in')">Martes</mat-checkbox>
                    </div>
                    <div class="work-hour-range"  formGroupName="tuesday">
                        <mat-form-field appearance="outline">
                            <mat-label>Entrada</mat-label>
                            <mat-select formControlName="tuesday_in" (valueChange)="enableRange($event, 'tuesday_out')">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Salida</mat-label>
                            <mat-select formControlName="tuesday_out">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this.dataForm.get('work_hour.tuesday.tuesday_out')!.errors">{{err_out()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Wednesday -->
                <div class="work-hour mb-1">
                    <div class="work-hour-day">
                        <mat-checkbox (change)="enableRange($event, 'wednesday_in')">Miércoles</mat-checkbox>
                    </div>
                    <div class="work-hour-range" formGroupName="wednesday">
                        <mat-form-field appearance="outline">
                            <mat-label>Entrada</mat-label>
                            <mat-select formControlName="wednesday_in" (valueChange)="enableRange($event, 'wednesday_out')">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Salida</mat-label>
                            <mat-select formControlName="wednesday_out">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this.dataForm.get('work_hour.wednesday.wednesday_out')!.errors">{{err_out()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Thursday -->
                <div class="work-hour mb-1">
                    <div class="work-hour-day">
                        <mat-checkbox (change)="enableRange($event, 'thursday_in')">Jueves</mat-checkbox>
                    </div>
                    <div class="work-hour-range" formGroupName="thursday">
                        <mat-form-field appearance="outline">
                            <mat-label>Entrada</mat-label>
                            <mat-select formControlName="thursday_in" (valueChange)="enableRange($event, 'thursday_out')">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Salida</mat-label>
                            <mat-select formControlName="thursday_out">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this.dataForm.get('work_hour.thursday.thursday_out')!.errors">{{err_out()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Friday -->
                <div class="work-hour mb-1">
                    <div class="work-hour-day">
                        <mat-checkbox (change)="enableRange($event, 'friday_in')">Viernes</mat-checkbox>
                    </div>
                    <div class="work-hour-range" formGroupName="friday">
                        <mat-form-field appearance="outline">
                            <mat-label>Entrada</mat-label>
                            <mat-select formControlName="friday_in" (valueChange)="enableRange($event, 'friday_out')">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Salida</mat-label>
                            <mat-select formControlName="friday_out">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this.dataForm.get('work_hour.friday.friday_out')!.errors">{{err_out()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Saturday -->
                <div class="work-hour mb-1">
                    <div class="work-hour-day">
                        <mat-checkbox (change)="enableRange($event, 'saturday_in')">Sábado</mat-checkbox>
                    </div>
                    <div class="work-hour-range" formGroupName="saturday">
                        <mat-form-field appearance="outline">
                            <mat-label>Entrada</mat-label>
                            <mat-select formControlName="saturday_in" (valueChange)="enableRange($event, 'saturday_out')">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Salida</mat-label>
                            <mat-select formControlName="saturday_out">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this.dataForm.get('work_hour.saturday.saturday_out')!.errors">{{err_out()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Sunday -->
                <div class="work-hour mb-1">
                    <div class="work-hour-day">
                        <mat-checkbox (change)="enableRange($event, 'sunday_in')">Domingo</mat-checkbox>
                    </div>
                    <div class="work-hour-range" formGroupName="sunday">
                        <mat-form-field appearance="outline">
                            <mat-label>Entrada</mat-label>
                            <mat-select formControlName="sunday_in" (valueChange)="enableRange($event, 'sunday_out')">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Salida</mat-label>
                            <mat-select formControlName="sunday_out">
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                                    {{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this.dataForm.get('work_hour.sunday.sunday_out')!.errors">{{err_out()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- Botones de reseteo y confirmación -->
            <div class="submit-btn-box">
                <button mat-stroked-button color="warn" class="me-3" type="button" (click)="resetAll()">
                    Reset
                </button>
                <button mat-stroked-button color="primary" type="submit" [disabled]="dataForm.invalid || dataForm.untouched || dataForm.pristine">
                    Guardar
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer class="login-footer">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>