<mat-card class="mat-card card-image">
    <mat-card-content class="mat-card-content">
        <a mat-icon-button class="close-card" routerLink="../index" aria-label="close-button">
            <mat-icon>close</mat-icon>
        </a>
        <mat-card-title class="mat-card-title">
            Imagen del usuario
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">
            Cargá tu imagen
        </mat-card-subtitle>
        <div>
            <div class="box-image">
                <label class="label-image" for="user-image"><p><mat-icon>add_a_photo</mat-icon> <br>Cargá tu imagen aquí</p></label>
                <img class="user-image" src="../../../../../assets/images/users/blanck_user.png" alt="image-previsualization">
            </div>
            <form [formGroup]="userDataForm" (ngSubmit)="onSubmitUser()">
                <div class="user-data-container">
                    <div class="user-data-input">
                        <input type="file" formControlName="image" id="user-image">
                        <div class="box-image-error">
                            <p class="error-image" *ngIf="this.userDataForm.controls['image']!.errors && this.userDataForm.controls['image']!.value">{{getImageErrorMessage()}}</p>
                        </div>
                    </div>
                    <div class="user-data-input">
                        <button mat-raised-button color="primary" type="submit" [disabled]="userDataForm.invalid">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>