<mat-card class="mat-card card-image">
    <mat-card-content class="mat-card-content">
        <a mat-icon-button class="close-card" routerLink="../index" aria-label="close-button">
            <mat-icon>close</mat-icon>
        </a>
        <mat-card-title class="mat-card-title">
            Imagen del usuario
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">
            Cargá tu imagen
        </mat-card-subtitle>
        <div>
            <div class="box-image">
                <div class="spinner-load-image" *ngIf="load">
                    <mat-spinner></mat-spinner>
                </div>
                <label class="label-image" for="user-image"><p><mat-icon>add_a_photo</mat-icon> <br>Cargá tu imagen aquí</p></label>
                <img class="user-image" [src]="base_image" alt="image-previsualization">
            </div>
            <form [formGroup]="userDataForm" enctype="multipart/form-data" (ngSubmit)="onSubmitUser()">
                <div class="user-data-container">
                    <div class="user-data-input">
                        <input type="file" id="user-image" accept="image/*" (change)="capture_img($event)">
                        <div class="box-image-error">
                            <p class="error-image" *ngIf="(this.userDataForm.controls['thumbnail']!.errors && this.userDataForm.controls['thumbnail']!.value) || (error_image)">{{ error_image }}</p>
                        </div>
                    </div>
                    <div class="user-data-input">
                        <button mat-raised-button color="primary" type="submit" [disabled]="userDataForm.invalid || this.disable_submit">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
    <mat-card-footer class="login-footer">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>