// auth

.login-register {
    height: calc(100vh - 64px);
    display: flex;
    background-size: cover;
    align-items: center;
    //background-image: url(assets/images/background/login-register.jpg);
}

.login-register-box {
    max-width: 400px;
    min-width: 280px;
    margin: 0 auto;
    vertical-align: middle;
}

.form-auth {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    mat-form-field {
        width: 100%;
    }
    button {
        width: 100%;
    }
}

.form-input-100 {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
}

.form-input-50 {
    flex: 1 1 50%;
    box-sizing: border-box;
    max-width: 50%;
}