// auth

.login-register {
    min-height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
}

.login-register-init {
    height: calc(100vh - 64px);
    display: flex;
    background-size: cover;
    align-items: center;
}

.login-register-box {
    max-width: 420px;
    min-width: 280px;
    margin: 10px auto;
    vertical-align: middle;
    .profile-pic-recharge {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        margin-bottom: 1rem;
    }
}

.form-auth {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    mat-form-field {
        width: 100%;
    }
    .forget-psw-align {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: 1.45px;
    }
    button {
        width: 100%;
    }
    .new-register-link {
        padding: 1rem 1rem 0;
        display: flex;
        justify-content: center;
    }
    .email-recharge {
        text-align: center;
        border-radius: 20px;
        padding: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.8);
        font-weight: 500;
    }
    .btn-forget-session {
        color: rgb(103, 117, 124)!important;
    }
}

.form-input-100 {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

.form-input-50 {
    flex: 1 1 50%;
    box-sizing: border-box;
    max-width: 50%;
}