// auth

.login-register {
    height: calc(100vh - 64px);
    display: flex;
    background-size: cover;
    align-items: center;
}

.login-register-box {
    max-width: 420px;
    min-width: 280px;
    margin: 0 auto;
    vertical-align: middle;
}

.form-auth {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    mat-form-field {
        width: 100%;
    }
    .forget-psw-align {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: 1.45px;
    }
    button {
        width: 100%;
    }
    .new-register-link {
        padding: 1.125rem 1rem 0;
        display: flex;
        justify-content: center;
    }
}

.form-input-100 {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
}

.form-input-50 {
    flex: 1 1 50%;
    box-sizing: border-box;
    max-width: 50%;
}