

.container-sidenav {
    min-height: calc(100vh - 64px);
}

.content-sidenav {
    background: #fff;
    .page-breadcrumb {
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .breadcrumb-item a {
            color: $themeAccent;
        }
    }
}

.index-container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .ripple-container {
        width: 180px;
        min-width: 180px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $sidebar-text;
        margin: 12.5px;
        h5 {
            margin: 5px 0 0;
            text-align: center;
        }
        &:hover {
            background: none;
            > h5 {
              color: $themeAccent;
            }
          }
    }
}

.card-setting {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.user-data-container {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    padding-top: 20px;
    mat-form-field {
        width: 100%;
    }
    .user-data-input {
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: 100%;
        margin-bottom: 0.5rem;
    }
    
    .user-data-input-mid {
        flex: 1 1 50%;
        box-sizing: border-box;
        max-width: 50%;
        margin-bottom: 0.5rem;
    }
    .work-hour {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        .work-hour-day {
            display: flex;
            align-items: center;
        }
        .work-hour-range {
            display: flex;
            justify-content: space-between;
            mat-form-field {
                margin-left: 15px;
            }
        }
    }
}