
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tickets-app-primary: mat.define-palette(mat.$teal-palette, 800, 50);
$tickets-app-accent: mat.define-palette(mat.$light-green-palette, 300);

// The warn palette is optional (defaults to red).
$tickets-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tickets-app-theme: mat.define-light-theme((
  color: (
    primary: $tickets-app-primary,
    accent: $tickets-app-accent,
    warn: $tickets-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tickets-app-theme);


//Special classes

.background-main {
    background: mat.get-color-from-palette($tickets-app-primary, 'lighter');
}

.text-main {
  color: mat.get-color-from-palette($tickets-app-primary);
}