<!-- Button que se muestra cuando la pantalla no es móvil -->
<button mat-flat-button color="primary" [matMenuTriggerFor]="profile" *ngIf="screenLarge">
    <span>Heraldo</span>
    <img src="assets/images/users/1.jpg" alt="user" class="profile-pic-btn">
</button>

<!-- Button que se muestra para el móvil -->
<button
    [matMenuTriggerFor]="profile"
    mat-icon-button 
    class="btn-header-login"
    *ngIf="!screenLarge"
> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic-icon">
</button>

<mat-menu #profile="matMenu" class="">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Settings </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>
