<!-- Edit ER contact -->

<!-- Card edit -->
<mat-card class="card card-user editContactEr">
    <mat-card-header>
        <mat-card-title>Contactos de emergencia</mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <!-- Contact name -->
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre del contacto</mat-label>
                    <input matInput
                            formControlName="name_er"
                            required>
                    <mat-error *ngIf="this.dataForm.controls['name_er']!.errors">{{getErrorNameEr()}}</mat-error>
                </mat-form-field>
                <!-- Contact phone -->
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Teléfono del contacto</mat-label>
                    <input matInput
                            formControlName="phone_er"
                            required>
                    <mat-error *ngIf="this.dataForm.controls['phone_er']!.errors">{{getErrorPhoneEr()}}</mat-error>
                </mat-form-field>
                <!-- Botones de reseteo y confirmación -->
                <div class="submit-btn-box">
                    <button mat-stroked-button color="warn" class="me-3" type="button" (click)="resetAll()">
                        Reset
                    </button>
                    <button mat-stroked-button color="primary" type="submit" [disabled]="dataForm.invalid || dataForm.untouched || dataForm.pristine">
                        Guardar
                    </button>
                </div>
            </form>
    </mat-card-content>
    <mat-card-footer class="login-footer">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>