<!--Componente que edita el stock del producto -->

<mat-card class="card-product addProduct productStock">
  <mat-card-header>
    <mat-card-title>Stock del producto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <!-- Nombre del proveedor -->
      <div>
        <mat-form-field appearance="outline" class="w-100 mb-0">
          <mat-label>Stock físico</mat-label>
          <input matInput placeholder="Editá el stock" type="number">
        </mat-form-field>
      </div>
      <!-- Caja de información del proveedor seleccionado -->
      <div class="mb-4 d-flex justify-content-around">

        <!-- Caja stock físico -->
        <div class="d-flex flex-column b-all p-2" style="border-radius: 4px;">
          <p class="text-muted fs-09 mb-1">Stock físico</p>
          <div class="d-flex justify-content-center">
            <h3 class="mb-0 fw-500">10</h3>
          </div>
        </div>

        <!-- Caja stock disponible -->
        <div class="d-flex flex-column b-all p-2" style="border-radius: 4px;">
          <p class="text-muted fs-09 mb-1">Stock disponible</p>
          <div class="d-flex justify-content-center">
            <h3 class="mb-0">5</h3>
          </div>
        </div>

      </div>
      <!-- Botones de reseteo y confirmación -->
      <div class="product-info-btn-box">
        <button mat-stroked-button color="warn" class="me-3">
          Reset
        </button>
        <button mat-stroked-button color="primary">
          Guardar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
