<!-- Pending Card -->
<mat-card class="card mb-6">
    <mat-card-content>
        <div class="row ps-3 pe-3">
            <div class="col-6">
                <div>
                    <span class="material-symbols-outlined icon">
                        other_admission
                    </span>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
                <div style="display: inline-block; text-align: center;">
                    <h3 style="margin-bottom: 8px; font-weight: 600; color: #222;">23%</h3>
                    <p class="mb-0" style="line-height: 25px;">Active user</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>