<mat-card class="mat-card card-image">
    <mat-card-content class="mat-card-content">
        <a mat-icon-button class="close-card" routerLink="../index" aria-label="close-button">
            <mat-icon>close</mat-icon>
        </a>
        <mat-card-title class="mat-card-title">
            Email de acceso
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">
            Editá tu cuenta de correo electrónico de acceso
        </mat-card-subtitle>
        <div>
            <div class="user-password-container">
                <form [formGroup]="checkPassword" (ngSubmit)="onSubmitChecker()">
                    <div class="user-data-input">
                        <mat-form-field appearance="fill">
                            <mat-label>Contraseña actual</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'"
                                    formControlName="password"
                                    type="password" 
                                    required
                                    (focus)="clean_btn_verify()">
                                    <button mat-icon-button matSuffix (click)="hidePassword($event)" >
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <button mat-mini-fab matSuffix (click)="onSubmitChecker()" [color]="color" [disabled]="btn_verify_pass">
                                        <mat-icon>{{ icon }}</mat-icon> <!-- search / check / close -->
                                    </button>
                            <mat-error *ngIf="this.checkPassword.controls['password']!.errors">{{getPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <form [formGroup]="userDataForm" (ngSubmit)="onSubmitUser()">
                    <div class="user-data-input">
                        <mat-form-field appearance="fill">
                            <mat-label>Nueva correo electrónico</mat-label>
                            <input matInput
                                    [formControl]="emailFirst"
                                    type="email" 
                                    required>
                            <mat-error *ngIf="this.emailFirst.errors">{{getEmailFirstErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="user-data-input">
                        <mat-form-field appearance="fill">
                            <mat-label>Reingresa nueva correo electrónico</mat-label>
                            <input matInput
                                    formControlName="email"
                                    type="email" 
                                    required>
                            <mat-error *ngIf="this.userDataForm.controls['email']!.errors">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="user-data-input">
                        <button mat-raised-button color="primary" type="submit" [disabled]="userDataForm.invalid || !this.userDataForm.controls['email'].value.length">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="login-footer">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>

