

mat-card {
    min-height: 208px;
}

.info {
    h1 {
        width: 100%;
        font-size: 100px;
        line-height: 100px;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
    }
}