<!-- Greeting Card -->
<mat-card class="card">
  <mat-card-content>
    <div class="d-flex flex-column align-items-start justify-content-between info">
        <p class="text-muted">Días restantes</p>
        <h1 class="primary-color">57</h1>
        <div class="d-flex justify-content-start align-items-center">
            <p class="mb-0 text-muted fs-09 me-2">Estado del plan: </p>
            <span class="badge rounded-pill cap fs-08 bg-label-success">
                Activo
            </span>
        </div>
    </div>
  </mat-card-content>
</mat-card>